
// breakpoints

$bp1: 1366px;
$bp2: 1800px;

$minWidthScreen: 1080px;
$minWidthScreenD: 1360px;

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';

@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/reset';

body{
	overflow: auto!important;
	height: auto;
	min-width: 640px;
}

.hidden{
	display: none;
}

.wrapper{

}

.website{

}


@import 'sass/slick';
@import 'sass/jquery.mCustomScrollbar';





.cap{

	&__welcome{

		background: url("/img/cap/cap.bg-mb.jpg") no-repeat top center;
		background-size: cover;
		color: #5e523e;
		text-align: center;
		font-weight: 500;
		padding-top: 200px;

		@include breakpoint($bp1){
			background-image: url("/img/cap/cap.bg-dt.jpg");
			padding-top: 0;
			height: calc(100vh - 250px);
			min-height: 400px;

			@include breakpoint($bp2){
				min-height: 550px;
			}

			&:before{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			font-size: 0;
		}

		&-inner{
			display: inline-block;
			vertical-align: middle;

			@include breakpoint($bp1){
				//margin-bottom: 30px;
			}
		}

		&-logo{
			width: 470px;
			margin: 0 auto 50px;

			@include breakpoint($bp1){
				margin-bottom: 40px;
			}

			@include breakpoint($bp2){
				width: 585px;
				margin-bottom: 60px;
			}

			img{
				width: 100%;
			}
		}
		&-title{
			font-size: 36px;
			font-weight: 600;

			@include breakpoint($bp1){
				font-size: 32px;
			}

			@include breakpoint($bp2){
				font-size: 45px;
			}
		}
		&-text{
			font-size: 24px;
			margin-bottom: 35px;

			@include breakpoint($bp1){
				font-size: 21px;
				margin-bottom: 25px;
			}

			@include breakpoint($bp2){
				font-size: 30px;
			}
		}
	}

	&__carousel{

		@include breakpoint($bp1){
			height: 120px;
			position: relative;
			//width: $bp1;
			margin: -120px auto 0;
		}

		@include breakpoint($bp2){
			height: 150px;
			margin-top: -150px;
		}

		&-list{

			@include breakpoint($bp1){
				margin: 0 auto;
				width: 1140px;
				position: static;
			}

			@include breakpoint($bp2){
				width: 1600px;
			}
		}

		&-img{
			padding-top: 80px;
			margin: 0 0 -100px;

			@include breakpoint($bp1){
				margin-bottom: -70px;
				padding-top: 50px;
			}

			@include breakpoint($bp2){
				margin-bottom: -96px;
				padding-top: 60px;
			}

			img{
				display: inline-block;
				position: relative;
				width: 250px;
				top:0;
				@include transition(top 0.2s ease);

				@include breakpoint($bp1){
					width: 180px;
				}

				@include breakpoint($bp2){
					width: 240px;
				}
			}

			&:hover{
				img{
					top:-40px;

					@include breakpoint($bp2){
						top:-50px;
					}
				}
			}
		}

		.slick{

			&-arrow{
				width: 80px;
				height: 80px;
				background: #fff no-repeat 50% 50%;
				background-size: cover;
				border: none;
				@include border-radius(50%);
				color: transparent;
				cursor: pointer;
				@include box-shadow(4px 4px 9px rgba(0,0,0,0.3));
				@include transition(all 0.15s ease);
				position: absolute;
				bottom: 0;
				margin-bottom: -40px;

				@include breakpoint($bp1){
					width: 60px;
					height: 60px;
					margin-bottom: -30px;
				}


				&:hover{
					@include box-shadow(0px 0px 0px rgba(0,0,0,0.3));
				}
			}

			&-prev{
				background-image: url("/img/cap/cap.arrow-prev.svg");
				left: 50px;
			}

			&-next{
				background-image: url("/img/cap/cap.arrow-next.svg");
				right: 50px;
			}
		}
	}

	&__footer{

		background: #91bf04;
		color: #fff;
		text-align: center;
		padding: 70px 50px;

		@include breakpoint($bp1){
			height: 250px;
			@include box-sizing();
			overflow: hidden;
			text-align: left;
			padding: 60px 0 0;
		}

		&-inner{

			@include breakpoint($bp1){
				width: $bp1;
				margin: 0 auto;
			}

			@include breakpoint($bp2){
				width: $bp2;
			}
		}

		&-message{

			@include breakpoint($bp1){
				@include box-sizing();
				float: left;
				width: (100% / 3);
				padding: 0 50px;
			}

			@include breakpoint($bp2){
				padding: 0 90px;
			}
		}

		&-title{
			font-size: 36px;
			margin-bottom: 30px;
			font-weight: 600;

			@include breakpoint($bp1){
				font-size: 45px;
				margin-bottom: 15px;
				margin-top: -8px;
			}
		}

		&-text{
			font-size: 24px;
			line-height: 1.5;

			@include breakpoint($bp1){
				font-size: 16px;
			}

			a{
				display: block;
				margin: 30px auto 100px;
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: underline;

				@include breakpoint($bp1){
					display: inline;
					text-transform: none;
					font: inherit;
				}
			}
		}

		&-follow{

			@include breakpoint($bp1){
				@include box-sizing();
				float: left;
				width: (100% / 3);
			}
		}

		&-soc{
			font-size: 0;
			.soc{

				&-item{

					display: inline-block;
					margin: 0 13px;

					@include breakpoint($bp1){

						height: 45px;
						border: 2px solid #fff;
						@include border-radius(100px);
						@include box-sizing();
						margin: 0;
						white-space: nowrap;

						width: calc( (100% - 20px) / 3);

						margin-left: 10px;

						&:first-child{
							margin-left: 0;
						}

						&:hover{
							background-color: #fff;
							color: #91bf04;
						}

					}

					&__ico{
						width: 80px;
						height: 80px;

						@include breakpoint($bp1){
							width: 45px;
							height: 45px;
							display: inline-block;
							vertical-align: middle;
							margin: -2px;
						}

						img{
							width: 100%;
							height: 100%;
						}
					}

					&__text{
						display: none;

						@include breakpoint($bp1){
							display: inline-block;
							vertical-align: middle;
							padding: 0 8px;
							font-size: 16px;
						}
					}
				}
			}
		}

		&-subscribe{}

		&-contact{
			margin-top: 100px;

			@include breakpoint($bp1){
				margin-top: 0;
				display: block;
				@include box-sizing();
				float: left;
				width: (100% / 3);
				padding: 0 50px 0 100px;
			}

			@include breakpoint($bp2){
				padding-left: 200px;
			}
		}

	}

	&-form{

		&__col{
			margin: 30px 0;

			@include breakpoint($bp1){
				float: left;
				width: calc( 100% - 190px);

			}

			&_submit{
				font-size: 36px;

				@include breakpoint($bp1){
					font-size: 18px;
					width: 190px;
					@include box-sizing();
					padding-left: 10px;
				}
			}

		}

		input{
			@include box-sizing();
			border: 2px solid #fff;
			@include border-radius(100px);
			display: block;
			padding: 0 20px;
			line-height: inherit;
			height: 80px;
			width: 100%;
			text-align: center;
			background: transparent;
			font: inherit;
			color: inherit;
			position: relative;
			z-index: 1;

			&::-webkit-input-placeholder {
				color: #fff;
			}
			&::-moz-placeholder {
				color: #fff;
			}
			&:-ms-input-placeholder {
				color: #fff;
			}
			&:-moz-placeholder {
				color: #fff;
			}

			@include breakpoint($bp1){
				height: 45px;
				padding-right: 120px;

				text-align: left;
			}

			&[type=submit]{
				color: #91bf04;
				background: #fff;
				padding: 0;
				cursor: pointer;
				@include box-shadow(4px 4px 9px rgba(0,0,0,0.3));
				@include transition(all 0.15s ease);
				text-align: center;

				&:hover{
					@include box-shadow(0px 0px 0px rgba(0,0,0,0.3));
				}
			}
		}

		.form{

			&-field{

				&.error{
					color: #bc0524;
					.form-message{
						display: block;
					}
				}
			}

			&-item{
				line-height: 80px;
				position: relative;
				font-size: 35px;

				@include breakpoint($bp1){
					font-size: 16px;
					line-height: 45px;
				}

				.placeholder{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					@include box-sizing();
				}

				&.is-onfocus,
				&.is-filled{
					.placeholder{
						display: none;

						@include breakpoint($bp1){
							display: block;
							text-align: right;
						}
					}
				}
			}

			&-message{
				display: none;
				margin: 20px 0 -10px;

				@include breakpoint($bp1){
					font-size: 0.9em;
					white-space: nowrap;
				}
			}
		}


		&__send{
			text-align: center;
			font-weight: bold;
			margin: 30px 0;
			font-size: 36px;

			@include breakpoint($bp1){
				font-size: 18px;
			}
		}

	}




	&__rules{
		position: fixed;
		left: 0;
		top:100%;
		width: 100%;
		height: 100%;
		z-index: 100;
		background: #91bf04;
		@include transition(top 0.3s ease);

		&-close{
			width: 80px;
			height: 80px;

			@include border-radius(50%);
			cursor: pointer;
			@include transition(all 0.15s ease);
			background: #fff url("/img/cap/cap.close.svg") no-repeat 50% 50%;
			background-size: cover;
			position: absolute;
			top:40px;
			right: 50px;
			@include box-shadow(4px 4px 9px rgba(0,0,0,0.3));

			&:hover{
				@include box-shadow(0px 0px 0px rgba(0,0,0,0.3));
			}

			@include breakpoint($bp1){
				width: 60px;
				height: 60px;
				top:75px;
			}
		}

		&-title{
			font-size: 50px;
			text-transform: uppercase;
			margin: 50px 60px;
			font-weight: 600;

			@include breakpoint($bp1){
				font-size: 45px;
				margin: 70px 50px;
			}
		}

		&-text{
			font-size: 48px;
			background: #fff;
			color: #5e523e;
			overflow: auto;
			position: absolute;
			@include box-sizing();
			top:160px;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 40px 60px;

			&.mCustomScrollbar{
				padding: 0;
			}

			.mCustomScrollBox{
				padding: 0 60px;

				.mCSB_scrollTools{
					background: #91bf04;
					width: 42px;

					.mCSB_draggerContainer{
						width: 15px;
						left: 14px;
					}

					.mCSB_dragger{

					}

					.mCSB_dragger_bar{
						background: #fff;
						@include border-radius(100px);
						@include box-shadow(4px 4px 9px rgba(0,0,0,0.3));

						&:hover{
							@include box-shadow(0px 0px 0px rgba(0,0,0,0.3));
						}

						&:before{
							display: none;
						}
					}

					.mCSB_draggerRail{
						width: 2px;
						background: #fff;
					}
				}
			}

			@include breakpoint($bp1){
				top:80px;
				left: 370px;
				right: 130px;
			}

			h3{
				font: inherit;
				margin: 20px 0;

				@include breakpoint($bp1){
					font-size: 24px;
				}
			}
			p{
				font: inherit;
				margin: 20px 0;

				@include breakpoint($bp1){
					font-size: 14px;
				}
			}
		}

		._showrules &{
			top:0;
		}
	}
}

._showrules{
	overflow: hidden!important;
}