$colorGreen: #8fbe00;
$colorYellow: #f3d302;
$colorOrange: #f3af0b;
$colorRed: #bc0525;
$colorBlue: #077498;
$colorBrown: #b19f83;
$colorRose: #93006f;
$colorError: #de787d;
$footerHeightPx: 267px;
$footerHeightRem: 16.688rem;

$colorText: #78684f;



// breakpoints

$bpM: 0;//480px;
$bpT: 0;//640px;
$bpC: 0;//740px;
$bpD: 0;//1080px;
$bpFP: 1360px;

$minWidthScreen: 1080px;
$minWidthScreenD: 1360px;

.minWidthScreen{

	.is-desktop &{
		min-width: $minWidthScreenD;
	}

	.is-mobile &{
		min-width: $minWidthScreen;
	}
}


@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';

@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/reset';

body{
	overflow: auto!important;
	@include transition(opacity 0.2s ease);
	height: auto;
}
.hidden{
	display: none;
}
.wrapper{
	width: 100%;
	position: relative;
	min-width: $minWidthScreen;
	//min-height: 600px;
	overflow: hidden;
	margin-top: 130px;
	@include box-sizing();

	.is-desktop &{
	//@include breakpoint($bpFP){
		margin-top: 0;
		min-width: 1360px;
		height: 100%;
		min-height: 600px;
	}


	.inner{

		.is-desktop &{
			//@include breakpoint($bpFP){
			height: 100%;
			@include transform(translate3d(0, 0, 0));
			@include transition(transform 0.2s ease);
		}
	}

	&.wrapper_showfoot{
		.inner{
			@include transform(translate3d(0, -$footerHeightRem, 0));
		}
		.footer{
			@include transform(translate3d(0, -$footerHeightRem, 0));
		}
	}
}


.website{

	@include box-sizing();

	.is-desktop &{
		//@include breakpoint($bpFP){
		padding-left: 0;
	}

	._menu &{
		//min-height: 100%;
		//overflow: hidden;
		//height: 100%;
		position: relative;

		&:before{
			content: '';
			display: block;
			position: fixed;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(70,70,70,0.7);
			z-index: 20;
		}
	}
}

.fp-viewing{
	&-welcome { color: $colorGreen; }
	&-feature { color: $colorRed; }
	&-balance { color: $colorOrange; }
	&-example { color: $colorGreen; }
	&-calculate { color: $colorOrange;}
	&-feedback { color: $colorBlue;}
	&-team { color: $colorRed; }
	&-instagram { color: $colorBlue;}
	&-faq { color: $colorGreen;}
}


[data-menuanchor=welcome] { color: $colorGreen; }
[data-menuanchor=feature] { color: $colorRed; }
[data-menuanchor=balance] { color: $colorOrange; }
[data-menuanchor=example] { color: $colorGreen; }
[data-menuanchor=calculate] { color: $colorOrange;}
[data-menuanchor=feedback] { color: $colorBlue;}
[data-menuanchor=team] { color: $colorRed; }
[data-menuanchor=instagram] { color: $colorBlue;}
[data-menuanchor=faq] { color: $colorGreen;}



@import 'sass/_rangeslider.scss';
@import 'sass/nav';
@import 'sass/main';
@import 'sass/footer';
@import 'sass/popup';
@import 'sass/jquery.fullpage';
@import 'sass/_slider';
//@import 'sass/jquery.mCustomScrollbar';

