include mixin
block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		meta(name="apple-mobile-web-app-capable", content="yes")/
		title Real Food
		block head
	body
		.wrapper
			.cap
				block content

		//-include popups
		link(rel='stylesheet', href='/css/cap.style.css')/
		script(src='/js/jquery.min.js')
		script(src='/js/vendor.js')
		script(src='/js/cap.script.js')

		block scripts