mixin asideHead
	.aside-head
		.aside-head__location Санкт-Петербург
		.aside-head__phone.js-open-call +7(977)600-53-53
		.aside-head__contact
			.close.js-close-call
			.text Закажите звонок, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
			a.btn.js-open-popup(href='#popupFeedback') Заказать звонок
			.text Или напишите нам в чате
			.call-list
				a.call-item.call-item_tg(href='#')
				a.call-item.call-item_vb(href='#')
				a.call-item.call-item_wu(href='#')


mixin asideFoot
	.aside-foot
		.aside-foot__order
			a.btn.js-open-popup(href='#popupOrder') Заказать
		.aside-foot__soc
			.soc-list
				a.soc-item.soc-item_ig(href='#')
				a.soc-item.soc-item_vk(href='#')
				a.soc-item.soc-item_fb(href='#')


mixin menuItem(img, title, text, weight)
	.example-set__item
		.example-set__img
			img(src='#{img}', alt='#{text}')
			if weight
				.example-set__label #{weight}
		.example-set__title #{title}:
		.example-set__text #{text}

mixin feedback(logo, photo, name, img, rate, text, theme)
	.feedback-item(class='feedback-item_#{theme}')
		if theme == 'fb'
			.feedback-item__head
				img.logo(src='/img/feedback-#{theme}-head.jpg', alt='')
			.feedback-item__user
				.photo: img.js-feedback-user-photo(src='#{photo}', alt='')
				.name.js-feedback-user-name #{name} <br><span>16 сент. 23:01 pm</span>
			.feedback-item__text
				.text.js-feedback-user-text Доброе полезное утро!!! Красота, не так ли? И это всё мне! Решила попробовать дневной рацион от #[a(href='#') @justfood.pro] Теперь я могу со спокойной душой ехать на съёмки, не переживая за своё питание
			.feedback-item__img: img(src='#{img}', alt='')
			.feedback-item__info
				.rate #{rate}

		else if (theme == 'vk')
			.feedback-item__head
				img.logo(src='/img/feedback-#{theme}-head.jpg', alt='')
			.feedback-item__user
				.photo: img.js-feedback-user-photo(src='#{photo}', alt='')
				.name.js-feedback-user-name #{name} <br><span>16 сентября  в 23:01</span>
			.feedback-item__text
				.text.js-feedback-user-text Доброе полезное утро!!! Красота, не так ли? И это всё мне! Решила попробовать дневной рацион от #[a(href='#') @justfood.pro] Теперь я могу со спокойной душой ехать на съёмки, не переживая за своё питание
			.feedback-item__img: img(src='#{img}', alt='')
			.feedback-item__info
				.rate #{rate}
				.comment 10
				.share 2

		else if (theme == 'sp')
			.feedback-item__head
				img.logo(src='/img/feedback-#{theme}-head.jpg', alt='')
			.feedback-item__user
				.photo: img.js-feedback-user-photo(src='#{photo}', alt='')
				.name.js-feedback-user-name #{name} <br><span>22 авг. 2016г</span>
			.feedback-item__img: img(src='#{img}', alt='')
			.feedback-item__info
				.rate Нравится #[span 9 людям]
				.look 34
			.feedback-item__text
				.text.js-feedback-user-text Доброе полезное утро!!! Красота, не так ли? И это всё мне! Решила попробовать дневной рацион от #[a(href='#') @justfood.pro] Теперь я могу со спокойной душой ехать на съёмки, не переживая за своё питание


		else if (theme == 'ig')
			.feedback-item__head
				img.logo(src='/img/feedback-#{theme}-head.jpg', alt='')
			.feedback-item__user
				.photo: img.js-feedback-user-photo(src='#{photo}', alt='')
				.name.js-feedback-user-name #{name}
			.feedback-item__img: img(src='#{img}', alt='')
			.feedback-item__info
				.rate Нравится : 176
			.feedback-item__text
				.text.js-feedback-user-text #[b olga__vi] Доброе полезное утро!!! Красота, не так ли? И это всё мне! Решила попробовать дневной рацион от #[a(href='#') @justfood].pro Теперь я могу со спокойной душой ехать на съёмки, не переживая за своё питание
