nav.nav
	a.nav-logo(href='#welcome')
		i.nav-logo__real: include ../img/_real.svg
		i.nav-logo__food: include ../img/_food.svg
	ul.nav-list
		li.nav-item(data-menuanchor='balance')
			a.nav-item__link(href='#balance')
				span.nav-item__ico
					//-include ../img/ico-menu_checkbox.svg
					img.cur(src='/img/nav/nav-balance.svg', alt='')
					img.act(src='/img/nav/nav-balance_active.svg', alt='')
				span.nav-item__text 3 главных принципа<br>правильного питания
		li.nav-item(data-menuanchor='example')
			a.nav-item__link(href='#example')
				span.nav-item__ico
					//-include ../img/ico-menu_table-set.svg
					img.cur(src='/img/nav/nav-example.svg', alt='')
					img.act(src='/img/nav/nav-example_active.svg', alt='')
				span.nav-item__text Пример меню одной<br>недели
		li.nav-item(data-menuanchor='calculate')
			a.nav-item__link(href='#calculate')
				span.nav-item__ico
					//-include ../img/ico-menu_instagram.svg
					img.cur(src='/img/nav/nav-calculate.svg', alt='')
					img.act(src='/img/nav/nav-calculate_active.svg', alt='')
				span.nav-item__text Калькулятор калорий
		li.nav-item(data-menuanchor='feedback')
			a.nav-item__link(href='#feedback')
				span.nav-item__ico
					//-include ../img/ico-menu_thumbs-up.svg
					img.cur(src='/img/nav/nav-feedback.svg', alt='')
					img.act(src='/img/nav/nav-feedback_active.svg', alt='')
				span.nav-item__text Отзывы наших клиентов
		li.nav-item(data-menuanchor='team')
			a.nav-item__link(href='#team')
				span.nav-item__ico
					//-include ../img/ico-menu_checkbox.svg
					img.cur(src='/img/nav/nav-team.svg', alt='')
					img.act(src='/img/nav/nav-team_active.svg', alt='')
				span.nav-item__text Наша команда
		li.nav-item(data-menuanchor='instagram')
			a.nav-item__link(href='#instagram')
				span.nav-item__ico
					//-include ../img/ico-menu_table-set.svg
					img.cur(src='/img/nav/nav-instagram.svg', alt='')
					img.act(src='/img/nav/nav-instagram_active.svg', alt='')
				span.nav-item__text Мы в instagram
		li.nav-item.nav-item_feature(data-menuanchor='feature')
			a.nav-item__link(href='#feature')
				span.nav-item__ico
					//-include ../img/ico-menu_thumbs-up.svg
					img.cur(src='/img/nav/nav-feature.svg', alt='')
					img.act(src='/img/nav/nav-feature_active.svg', alt='')
				span.nav-item__text Наши преимущества
		li.nav-item(data-menuanchor='faq')
			a.nav-item__link(href='#faq')
				span.nav-item__ico
					//-include ../img/ico-menu_table-set.svg
					img.cur(src='/img/nav/nav-faq.svg', alt='')
					img.act(src='/img/nav/nav-faq_active.svg', alt='')
				span.nav-item__text Вопросы и ответы
	.nav-mobile
		.nav-mobile__soc
			a.soc-item.soc-item_ig(href='#')
			a.soc-item.soc-item_vk(href='#')
			a.soc-item.soc-item_fb(href='#')
		.nav-mobile__contact
			.nav-mobile__contact-phone +7(977)600-53-53

			.nav-mobile__contact-order
				form.nav-mobile__contact-form.js-send-ajax.hidden
					.form-field
						.form-item
							input(type='text', name='firstName', placeholder='Ваше имя', data-required='true')
					.form-field
						.form-item
							input(type='text', name='firstName', placeholder='Телефон или e-mail', data-required='true')
					.form-field
						.form-item
							input(type='text', name='firstName', placeholder='Удобное время звонка', data-required='true')
					.form-field
						.form-item
							input.btn(type='submit', value='Заказать звонок')
				a.btn.js-toggle-form(href='#') Заказать звонок

			.nav-mobile__contact-call
				.call-list
					a.call-item.call-item_tg(href='#')
					a.call-item.call-item_vb(href='#')
					a.call-item.call-item_wu(href='#')
			.nav-mobile__contact-mail info@realfood.ru

			hr/
			.nav-mobile__contact-text Санкт-Петербург, ул.Восстания д.35
			hr/
			.nav-mobile__contact-text Хочешь получать от нас новости, быть в курсе новинок, подпишись.
			form.nav-mobile__contact-form.js-send-ajax
				.form-field
					.form-item
						input(type='text', name='firstName', placeholder='e-mail', data-required='email')
				.form-field
					.form-item
						input.btn(type='submit', value='Подписаться')
			hr/
			.nav-mobile__contact-text Политика конфидециальности
			.nav-mobile__contact-text Условия использования ресурса

		.nav-mobile__footer
			.nav-mobile__footer-text © 2016 Real Food - доставка здорового и&nbsp;правильного питания по&nbsp;Санкт-Петербургу<br>
				| Все права защищены.&nbsp;&nbsp;<i>18+</i>


			.nav-mobile__footer-text Заебашено в Amico.studio




