
.popup.popup_feedback#popupFeedback
	.popup-inner
		.popup-layout
			.popup-close
			.popup-head
				.popup-title Закажите звонок
				.popup-text Заполните форму, и мы Вам перезвоним
			.popup-content
				form.form.form_popup.js-form(action='/data/test_feedback.json', method='post', data-form-name='feedback')
					.form-field
						.form-label Ваше имя
						.form-item: input(type='text', name='firstName', placeholder='Ваше имя', data-required='true')
					.form-field
						.form-label Ваш телефон
						.form-item: input(type='text', name='phone', placeholder='Введите ваш телефон', data-required='phone')
					.form-field
						.form-label Удобное время для звонка
						.form-item: input(type='text', name='firstName', placeholder='Например с 18:00 до 21:00', data-required='true')
					.form-field
						.form-item: input.btn(type='submit', value='Заказать звонок')
	.popup-overlay


.popup.popup_share#popupShare
	.popup-inner
		.popup-layout
			.popup-close
			.popup-head
				.popup-title Получите единоразовую<br>скидку 5% прямо сейчас
			.popup-content
				.popup-content__text Сделайте репост на своей странице<br>в одной из соцсетей.

				.popup-share__list
					a.popup-share__item.popup-share__item_vk(href='#') Вконтакте
					a.popup-share__item.popup-share__item_fb(href='#') Facebook
					a.popup-share__item.popup-share__item_ok(href='#') Одноклассники

			.popup-content
				.popup-share__btn
					a.btn(href='#') Пропустить и перейти к оплате

	.popup-overlay

.popup.popup_info
	.popup-inner
		.popup-layout
			.popup-close
			.popup-content
				.popup-title Ваш заказ принят
				.popup-text Наш менеджер скоро свяжется с Вами, расскажет детали и ответит на вопросы.
				.popup-btn: .btn ОК
	.popup-overlay

.popup.popup_text#politics
	.popup-inner
		.popup-layout
			.popup-close
			.popup-content
				.popup-title Политика конфиденциальности
				.popup-text
					p Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую ООО «ЯНДЕКС» и/или его аффилированные лица, включая все лица, входящие в одну группу с ООО «ЯНДЕКС» (далее — Яндекс), могут получить о Пользователе во время использования им любого из сайтов, сервисов, служб, программ, продуктов или услуг Яндекса (далее — Сервисы, Сервисы Яндекса) и в ходе исполнения Яндексом любых соглашений и договоров с Пользователем. Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица.
					p Использование Сервисов Яндекса означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.
					h2 1. Персональная информация Пользователей
					p 1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
					p 1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
					p 1.1.2. Данные, которые автоматически передаются Сервисам Яндекса в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервисам, адреса запрашиваемых страниц и иная подобная информация.
					p 1.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования отдельных Сервисов Яндекса.
					p 1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сервисов Яндекса. Яндекс не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайтах Яндекса, в том числе в результатах поиска.
					p 1.3. Яндекс не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако Яндекс исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии. Последствия предоставления недостоверной или недостаточной информации определены в Пользовательском соглашении сервисов Яндекса (https://yandex.ru/legal/rules/).
					h2 2. Цели обработки персональной информации Пользователей

					p 2.1. Яндекс собирает и хранит только ту персональную информацию, которая необходима для предоставления Сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
					p 2.2. Персональную информацию Пользователя Яндекс обрабатывает в следующих целях:
					p 2.2.1. Идентификация стороны в рамках Сервисов, соглашений и договоров с Яндексом;
					p 2.2.2. Предоставление Пользователю персонализированных Сервисов и исполнение соглашений и договоров;
					p 2.2.3. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя;
					p 2.2.4. Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов;
					p 2.2.5. Таргетирование рекламных материалов;
					p 2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.
					h2 3. Условия обработки персональной информации Пользователей и её передачи третьим лицам

					p 3.1. Яндекс хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.
					p 3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
					p 3.3. Яндекс вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
					p 3.3.1. Пользователь выразил согласие на такие действия;
					p 3.3.2. Передача необходима для использования Пользователем определенного Сервиса либо для исполнения определенного соглашения или договора с Пользователем;
					p 3.3.3. При использовании Пользователем сервисов и услуг компании ООО НКО «Яндекс.Деньги» (ОГРН: 1127711000031) персональная информация Пользователя может передаваться в ООО НКО «Яндекс.Деньги» для обработки на условиях и для целей, определённых в Соглашении об использовании сервиса «Яндекс.Деньги» (https://money.yandex.ru/doc.xml?id=522764) и Политике Конфиденциальности ООО НКО «Яндекс.Деньги» (https://money.yandex.ru/doc.xml?id=525698);
					p 3.3.4. При использовании Пользователем сервисов и услуг компании ООО «Яндекс.Вертикали» (ОГРН: 5157746192742) персональная информация Пользователя может передаваться в ООО «Яндекс.Вертикали» для обработки и на условиях и для целей, определенных в Условиях использования сервисов «Яндекс.Авто» (https://yandex.ru/legal/auto_termsofuse/, «Яндекс.Работа» (https://yandex.ru/legal/job_termsofuse/, «Яндекс.Недвижимость» (https://yandex.ru/legal/realty_termsofuse/ ), «Яндекс.Путешествия» (https://yandex.ru/legal/travel_termsofuse/ ).
					p 3.3.5. При использовании Пользователем сервисов и услуг компании ООО «Яндекс.Такси» (ОГРН: 5157746192731) персональная информация Пользователя может передаваться в ООО «Яндекс.Такси» для обработки на условиях и для целей, определенных в Условиях использования сервиса «Яндекс.Такси» (https://yandex.ru/legal/taxi_termsofuse/ ).
					p 3.3.6. При использовании Пользователем сервисов и услуг компании ООО «Яндекс.Маркет» (ОГРН: 1167746491395) персональная информация Пользователя может передаваться в ООО «Яндекс.Маркет» для обработки на условиях и для целей, определённых в Правилах использования сервиса «Яндекс.Маркет» (https://yandex.ru/legal/market_termsofuse/ );
					p 3.3.7. При использовании Пользователем сервисов и услуг компании ООО «Облачные технологии Яндекс» (ОГРН: 1167746432040) персональная информация Пользователя может передаваться в ООО «Облачные технологии Яндекс»;
					p 3.3.8. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
					p 3.3.9. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
					p 3.3.10. В целях обеспечения возможности защиты прав и законных интересов Яндекса или третьих лиц в случаях, когда Пользователь нарушает Пользовательское соглашение сервисов Яндекса (https://yandex.ru/legal/rules/), настоящую Политику, либо документы, содержащие условия использования конкретных Сервисов.
					p 3.3.11. В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению Яндекса.
					p 3.4. При обработке персональных данных Пользователей Яндекс руководствуется Федеральным законом РФ «О персональных данных».
					h2 4. Изменение и удаление персональной информации. Обязательное хранение данных

					p 4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, воспользовавшись функцией редактирования персональных данных в разделе «Паспорт» (https://passport.yandex.ru/passport?mode=changereg) либо в персональном разделе соответствующего Сервиса.
					p 4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию, воспользовавшись функцией «Удалить аккаунт» в разделе «Паспорт» (https://passport.yandex.ru/passport?mode=delete). При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов Яндекса.
					p 4.3. Права, предусмотренные пп. 4.1. и 4.2. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность Яндекса сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой государственному органу.
					h2 5. Обработка персональной информации при помощи файлов Cookie и счетчиков

					p 5.1. Файлы cookie, передаваемые Яндексом оборудованию Пользователя и оборудованием Пользователя Яндексу, могут использоваться Яндексом для предоставления Пользователю персонализированных Сервисов, для таргетирования рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения Сервисов Яндекса.
					p 5.2. Пользователь осознает, что оборудование и программное обеспечение, используемые им для посещения сайтов в сети интернет могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.
					p 5.3. Яндекс вправе установить, что предоставление определенного Сервиса возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.
					p 5.4. Структура файла cookie, его содержание и технические параметры определяются Яндексом и могут изменяться без предварительного уведомления Пользователя.
					p 5.5. Счетчики, размещенные Яндексом в Сервисах, могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации об использовании Сервисов, а также для обеспечения работоспособности Сервисов в целом или их отдельных функций в частности. Технические параметры работы счетчиков определяются Яндексом и могут изменяться без предварительного уведомления Пользователя.
	.popup-overlay

.popup.popup_order.step-1#popupOrder
	form.form.form_order.js-form.popup-inner(action='/data/test_order.json', method='post')
		.popup-layout.popup-layout_step_1
			.popup-close
			.popup-aside: img(src='/img/bg/order.jpg', alt='')
			.popup-content
				.order
					.order-title ШАГ 1/2
					.order-step.order-step_1
						.order-subtitle 1. Ваша норма питания, ккал
						.order-field.order-field_slide
							.order-field__wrap
								.btn.js-btn-order(data-name='energy', data-value='1200') 1200
								.btn.js-btn-order(data-name='energy', data-value='1500') 1500
								.btn.js-btn-order.active(data-name='energy', data-value='2000') 2000
								.btn.js-btn-order(data-name='energy', data-value='2500') 2500
								.btn.js-btn-order(data-name='energy', data-value='3000') 3000
						.order-text Расчитать норму Вы можете по <a href="/#calculate", onclick="$('.nav-item__link[href = #calculate]').click();">калькулятору</a> на нашем сайте.
					.order-step.order-step_2
						.order-subtitle 2. Выберите длительность программы
						.order-field.order-field_slide
							.order-field__wrap
								.btn.js-btn-order(data-name='duration', data-value='day') день
								.btn.js-btn-order.active(data-name='duration', data-value='week') неделя
								.btn.js-btn-order(data-name='duration', data-value='2week') 2 недели
						.order-text Длительность программы влияет на цену одного рациона.
					.order-step.order-step_3
						.order-subtitle 3. Выберите тип программы
						.order-field.order-field_slide
							.order-field__wrap
								.btn.js-btn-order_cb.active(data-name='day', data-value='1') пн.
								.btn.js-btn-order_cb.active(data-name='day', data-value='2') вт.
								.btn.js-btn-order_cb.active(data-name='day', data-value='3') ср.
								.btn.js-btn-order_cb.active(data-name='day', data-value='4') чт.
								.btn.js-btn-order_cb.active(data-name='day', data-value='5') пт.
								.btn.js-btn-order_cb(data-name='day', data-value='6') сб.
								.btn.js-btn-order_cb(data-name='day', data-value='7') вс.
						.order-text Недельные программы бывают на 5, 6 и&nbsp;7&nbsp;дней. Отметьте субботу и&nbsp;воскресенье, если не&nbsp;планируете готовить сами по&nbsp;выходным.
						.order-field.order-field_checkbox
							input#orderCutlery(type='checkbox', name='cutlery')
							label(for='orderCutlery') Мне нужны приборы

						.order-field.form-field.order-field_textarea
							textarea(name='note', placeholder='Комментарий к еде (необезательно). Укажите пожалуйста, есть ли у Вас медицинские противопоказания или аллерния на какие-либо продукты.')

					.order-step.order-step_next
						.order-field.order-field_price
							.price-day 1320 р./день
							.price-all 13230 р.

						.order-field.order-field_submit
							.btn.js-order-next-step ШАГ 2
							.footnote 6 порций, 1 рацион, 2000 ккал

		.popup-layout.popup-layout_step_2
			.popup-close
			.popup-aside
				.btn.js-order-show-area Показать районы бесплатной доставки
				#orderMap.orderMap
			.popup-content
				.order
					.order-title
						.order-back.js-order-next-step Назад
						| ШАГ 2/2
					.order-step.order-step_4
						.order-subtitle 4. Контактные данные
						.order-field.order-field_input
							.form-field
								.form-item: input(type='text', name='firstName', placeholder='Имя', data-required='rus')
								.form-error Заполните поле
							.form-field
								.form-item: input(type='text', name='secondName', placeholder='Фамилия', data-required='rus')
								.form-error Заполните поле
							.form-field
								.form-item: input(type='text', name='phone', placeholder='Телефон', data-required='phone')
								.form-error Заполните поле
							.form-field
								.form-item: input(type='text', name='email', placeholder='E-mail', data-required='email')
								.form-error Заполните поле

					.order-step.order-step_5
						.order-subtitle 5. Адрес доставки
						.order-field.order-field_input
							.form-field
								.form-item: input.js-input-full-address(type='text', name='address', placeholder='Введите адрес или укажите точку на карте', data-required='true')
								.form-error Заполните поле

						.order-field.order-field_address
							.form-field.form-field_address_1
								.form-item: input(type='text', name='address[city]', placeholder='Город', data-required='true')
							.form-field.form-field_address_2
								.form-item: input(type='text', name='address[street]', placeholder='Улица', data-required='true')
							.form-field.form-field_address_3
								.form-item: input(type='text', name='address[house]', placeholder='Дом', data-required='true')
							.form-field.form-field_address_4
								.form-item: input(type='text', name='address[podezd]', placeholder='Подъезд')
							.form-field.form-field_address_5
								.form-item: input(type='text', name='address[call]', placeholder='Домофон')
							.form-field.form-field_address_6
								.form-item: input(type='text', name='address[floor]', placeholder='Этаж')
							.form-field.form-field_address_7
								.form-item: input(type='text', name='address[room]', placeholder='Кв./Офис')
							.form-field.form-field_address_8
								.form-item: input(type='text', name='address[access]', placeholder='Нужен пропуск? Или другие комментарии для курьера')

						.order-field.order-field_showmap
							a.btn.js-order-show-map(href='#') Показать карту

					.order-step.order-step_6
						.order-subtitle 6. Когда начнете питаться правильно?
						.order-field.order-field_slide
							.order-field__wrap
								.btn.js-btn-order(data-name='date', data-value='27.08') 27.08
								.btn.js-btn-order.disable(data-name='date', data-value='28.08') 28.08
								.btn.js-btn-order(data-name='date', data-value='29.08') 29.08
								.btn.js-btn-order(data-name='date', data-value='30.08') 30.08
								.btn.js-btn-order.disable(data-name='date', data-value='31.08') 31.08
								.btn.js-btn-order(data-name='date', data-value='01.09') 01.09
								.btn.js-btn-order.disable(data-name='date', data-value='02.09') 02.09
						.order-text Доставка осуществляеться в понедельник на 1 день, во вторник на 2 дня, в четверг на 2 дня и в субботу на 2 дня.
					.order-step.order-step_7
						.order-subtitle 7. Удобное время доставки
						//-.order-field.order-field_range
							.filter-field.filter-field_slider
								.slider-input
									input.i-from.i-time(type='text', disabled='', name='timeFrom')
									input.i-to.i-time(type='text', disabled='', name='timeTo')
								//- max time 1439
								.slider-line.slider-time(data-range-min='360', data-val-min='390', data-range-max='720', data-val-max='540')
									.slider-line__bg
									.slider-line__min
									.slider-line__max

						.order-field.order-field_range
							.filter-field.filter-field_slider
								.slider-input
									input.i-from.i-time(type='text', disabled='', name='timeFrom', value='390')
									input.i-to.i-time(type='text', disabled='', name='timeTo', value='540')
								.slider-path(data-range-min='360', data-val-min='390', data-range-max='720', data-val-max='540')
									.slider-path__bg
									.slider-path__min
									.slider-path__max
						.order-text Если мы не можем связаться с вами в течение 10 минут (указанного вами временого промежутка доставки) — курьер едет на следующую точку доставки. Повторный приезд +250р.

					.order-step.order-step_next
						.order-field.order-field_price
							.price-day 1320 р./день
							.price-all 13230 р.

						.order-field.order-field_submit
							input.btn.js-order-submit(type='submit', value='Заказать')
							.footnote 6 порций, 1 рацион, 2000 ккал
		.popup-layout.popup-layout_step_map
			.popup-close
			.popup-content
				.order
					.order-title
						.order-back.js-order-next-step_2 Назад
						| Карта
					.btn.js-order-show-area Показать районы бесплатной доставки
					#orderMapMob.orderMap
	.popup-overlay













