include mixin
block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		meta(name="apple-mobile-web-app-capable", content="yes")/
		title Real Food
		style.
			body {
				opacity: 0;
			}
		block head
	body
		.wrapper
			.inner
				include header
				include nav
				.website
					block content
			.footer: include sections/footer
		include popups

		//-include popups
		link(rel='stylesheet', href='/css/style.css?1')/
		script(src='/js/jquery.min.js')
		script(src='/js/vendor.js')
		script(src='/js/custom.js?1')
		script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script(src='/js/ordermap.js')

		block scripts