extends layout/cap.template

block content
	.cap__welcome
		.cap__welcome-inner
			.cap__welcome-logo: img(src='/img/cap/cap.logo.svg', alt='')
			.cap__welcome-text Real Food - сервис доставки здорового<br>и правильного питания в СПб
			.cap__welcome-title Открытие в январе 2017

		.cap__carousel
			.cap__carousel-list
				.cap__carousel-img: img(src='/img/cap/01.png', alt='')
				.cap__carousel-img: img(src='/img/cap/02.png', alt='')
				.cap__carousel-img: img(src='/img/cap/03.png', alt='')
				.cap__carousel-img: img(src='/img/cap/04.png', alt='')
				.cap__carousel-img: img(src='/img/cap/05.png', alt='')
				.cap__carousel-img: img(src='/img/cap/06.png', alt='')
				.cap__carousel-img: img(src='/img/cap/01.png', alt='')
				.cap__carousel-img: img(src='/img/cap/02.png', alt='')
				.cap__carousel-img: img(src='/img/cap/03.png', alt='')
				.cap__carousel-img: img(src='/img/cap/04.png', alt='')
				.cap__carousel-img: img(src='/img/cap/05.png', alt='')
				.cap__carousel-img: img(src='/img/cap/06.png', alt='')

	.cap__footer
		.cap__footer-inner
			.cap__footer-message
				.cap__footer-title БУДЬ В КУРСЕ
				.cap__footer-text Хочешь получать от&nbsp;нас новости, быть в&nbsp;курсе новинок? Подписывайся на&nbsp;наши соц.сети. А&nbsp;также получай самые выгодные предложения на&nbsp;свою почту. #[a.js-show-rules(href="#") Подробнее]

			.cap__footer-follow
				.cap__footer-soc
					a.soc-item(href='#', target='_blank')
						.soc-item__ico: img(src='/img/cap/cap.soc-ig.svg')
						.soc-item__text Инстаграм
					a.soc-item(href='#', target='_blank')
						.soc-item__ico: img(src='/img/cap/cap.soc-vk.svg')
						.soc-item__text Вконтакте
					a.soc-item(href='#', target='_blank')
						.soc-item__ico: img(src='/img/cap/cap.soc-fb.svg')
						.soc-item__text Facebook

				.cap__footer-subscribe
					form.cap-form.js-subscribe-ajax(method='post', action='/data/test.json', data-form-name='faq')
						.cap-form__col
							.form-field
								.form-item.form-item_placeholder
									input(type='text', name='email', data-required='email')
									.placeholder Ваш e-mail
								.form-message Пожалуйста, введите корректный e-mail.
						.cap-form__col.cap-form__col_submit
							input.btn(type='submit', value='Подписаться')
					.cap-form__send.hidden ВЫ ПОДПИСАННЫ НА НАШУ РАССЫЛКУ

			.cap__footer-contact
				.cap__footer-title КОНТАКТЫ
				.cap__footer-text Санкт-Петербург<br>+7(977)600-53-53<br>info@realfood.ru

	.cap__rules
		.cap__rules-close.js-hide-rules
		.cap__rules-title Побробнее
		.cap__rules-text.js-scroll-wrap
			h3 1. Общие положения
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.об
			h3 2.    Общие
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглаш
			h3 1. Общие положения
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.об
			h3 2.    Общие
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглаш
			h3 1. Общие положения
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.об
			h3 2.    Общие
			p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
			p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
			p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.
			p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в