extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	section.section.section_welcome
		a.section__anchor(data-scroll-id='welcome')
		.section__inner: include layout/sections/welcome
	section.section.section_balance
		a.section__anchor(data-scroll-id='balance')
		.section__inner: include layout/sections/balance
	section.section.section_example
		a.section__anchor(data-scroll-id='example')
		.section__inner: include layout/sections/example
	section.section.section_calculate
		a.section__anchor(data-scroll-id='calculate')
		.section__inner: include layout/sections/calculate
	section.section.section_feedback
		a.section__anchor(data-scroll-id='feedback')
		.section__inner: include layout/sections/feedback
	section.section.section_team
		a.section__anchor(data-scroll-id='team')
		.section__inner: include layout/sections/team
	section.section.section_instagram
		a.section__anchor(data-scroll-id='instagram')
		.section__inner: include layout/sections/instagram
	section.section.section_feature
		a.section__anchor(data-scroll-id='feature')
		.section__inner: include layout/sections/feature
	section.section.section_faq
		a.section__anchor(data-scroll-id='faq')
		.section__inner: include layout/sections/faq
