.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_checkbox.svg', alt='')
			.title 3 главных принципа правильного питания
			.text Правильное питание — сбалансированный рацион, удовлетворяющий все&nbsp;потребности организма для&nbsp;достижения поставленных целей: похудеть, нарастить мышцы, поддержать форму.
	+asideFoot

.section__content
	.balance
		.balance-img.tabs-target.active(data-tab-targ='balance_1', data-tab-group='balance'): img(src='/img/balance-big_1.jpg', alt='')
		.balance-img.tabs-target(data-tab-targ='balance_2', data-tab-group='balance'): img(src='/img/balance-big_2.jpg', alt='')
		.balance-img.tabs-target(data-tab-targ='balance_3', data-tab-group='balance'): img(src='/img/balance-big_3.jpg', alt='')
		.tabs.tabs_balance
			.tabs-list
				.tabs-item.active.btn(data-tab-link='balance_1', data-tab-group='balance') Принцип 1
				.tabs-item.btn(data-tab-link='balance_2', data-tab-group='balance') Принцип 2
				.tabs-item.btn(data-tab-link='balance_3', data-tab-group='balance') Принцип 3

		.balance-info.tabs-target.active(data-tab-targ='balance_1', data-tab-group='balance')
			.balance-info__title Соблюдения баланса
			.balance-info__text Качество питания зависит от состава дневного рациона — соотношения белков, жиров и углеводов. Управляя балансом можно влиять на функциональную деятельность организма: развитие мышц, избавление от жира, повышение работоспособности и выносливости.
			ul.balance-info__list
				.balance-info__item В первой половине дня – сложные углеводы (каша, цельнозерновой хлеб, крупы) + порция белка. После обеда – уменьшаем количество углеводов. Вечером – легкий белковый ужин.
				.balance-info__item Белый хлеб, булочки, пирожные, конфеты, жирное мясо (свинина, баранина), майонезы, жареное, фри и т.д. перестать считать за еду.

		.balance-info.tabs-target(data-tab-targ='balance_2', data-tab-group='balance')
			.balance-info__title Соблюдения баланса
			.balance-info__text Качество питания зависит от состава дневного рациона — соотношения белков, жиров и углеводов. Управляя балансом можно влиять на функциональную деятельность организма: развитие мышц, избавление от жира, повышение работоспособности и выносливости.
			ul.balance-info__list
				.balance-info__item Белый хлеб, булочки, пирожные, конфеты, жирное мясо (свинина, баранина), майонезы, жареное, фри и т.д. перестать считать за еду.
				.balance-info__item В первой половине дня – сложные углеводы (каша, цельнозерновой хлеб, крупы) + порция белка. После обеда – уменьшаем количество углеводов. Вечером – легкий белковый ужин.

		.balance-info.tabs-target(data-tab-targ='balance_3', data-tab-group='balance')
			.balance-info__title Соблюдения баланса
			.balance-info__text Качество питания зависит от состава дневного рациона — соотношения белков, жиров и углеводов. Управляя балансом можно влиять на функциональную деятельность организма: развитие мышц, избавление от жира, повышение работоспособности и выносливости.
			ul.balance-info__list
				.balance-info__item В первой половине дня – сложные углеводы (каша, цельнозерновой хлеб, крупы) + порция белка. После обеда – уменьшаем количество углеводов. Вечером – легкий белковый ужин.
				.balance-info__item Белый хлеб, булочки, пирожные, конфеты, жирное мясо (свинина, баранина), майонезы, жареное, фри и т.д. перестать считать за еду.
