.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_calculate.svg', alt='')
			.title Калькулятор калорий
			.text Определите вашу дневную потребность в калориях за пару минут
	+asideFoot
.section__content
	.calculate
		.calculate-step.calculate-step_1.active
			.calculate-num
				img.dis(src='/img/ico-num_1.svg', alt='')
				img.act(src='/img/ico-num_1_active.svg', alt='')
			.calculate-item
				.calculate-title Укажите ваш пол
				.calculate-field
					.btn.js-btn-calculate(data-calc='gender', data-value='m') Мужчина
					.btn.js-btn-calculate(data-calc='gender', data-value='f') Женщина

		.calculate-step.calculate-step_2.disable
			.calculate-num
				img.dis(src='/img/ico-num_2.svg', alt='')
				img.act(src='/img/ico-num_2_active.svg', alt='')
			.calculate-item
				.calculate-title К каким результатам стремитесь
				.calculate-field
					.btn.js-btn-calculate(data-calc='effect', data-value='-0.2') Похудение
					.btn.js-btn-calculate(data-calc='effect', data-value='0.1') Набор массы
					.btn.js-btn-calculate(data-calc='effect', data-value='0') Поддержание формы

		.calculate-step.calculate-step_3.disable
			.calculate-num
				img.dis(src='/img/ico-num_3.svg', alt='')
				img.act(src='/img/ico-num_3_active.svg', alt='')
			.calculate-item
				.calculate-title Ваши индивидуальные параметры
				.calculate-field
					label
						.label Возраст
						input.input.js-input-calculate(type='text', name='age', min='10', max='100', disabled="disabled")
					label
						.label Рост
						input.input.js-input-calculate(type='text', name='height', min='130', max='230', disabled="disabled")
					label
						.label Вес
						input.input.js-input-calculate(type='text', name='weight', min='30', max='200', disabled="disabled")

		.calculate-step.calculate-step_4.disable
			.calculate-num
				img.dis(src='/img/ico-num_4.svg', alt='')
				img.act(src='/img/ico-num_4_active.svg', alt='')
			.calculate-item
				.calculate-title Уровень активности
				.calculate-field
					.btn.btn_m.js-btn-calculate(data-calc='activity' data-value='1.2')
						span Сидячий образ жизни
					.btn.btn_m.js-btn-calculate(data-calc='activity' data-value='1.375')
						span Средняя активность<br><i>(легкие упражнения 1-3 раз в неделю)</i>
					.btn.btn_m.js-btn-calculate(data-calc='activity' data-value='1.4625')
						span Высокая активность<br><i>(упражнения 3-5 раз в неделю)</i>
					.btn.btn_m.js-btn-calculate(data-calc='activity' data-value='1.550')
						span Средняя активность<br><i>(легкие упражнения 1-3 раз в неделю)</i>
					.btn.btn_m.js-btn-calculate(data-calc='activity' data-value='1.6375')
						span Высокая активность<br><i>(упражнения 3-5 раз в неделю)</i>


		.calculate-result.disable
			.example-info__text Ваша дневная норма калорий:
				span.js-calculate-result
			.example-info__order
				a.btn.js-open-popup(href='#popupOrder') Заказать

