
.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_table-set.svg', alt='Наше меню')
			.title Наше меню
			.text
				| Мы создали для Вас более 70 блюд, и&nbsp;постоянно добавляем новые.
				br
				| На завтрак готовим омлеты, каши и&nbsp;шарлотки.
				br
				| В обед и полдник - блюда из&nbsp;всевозможных видов мяса, гарниров и&nbsp;салатов.
				br
				| На ужин вас ждут низкокалорийные запеканки, сырники и биточки.
				br
				| А что бы прием пищи был еще вкуснее, мы&nbsp;включаем соусы, приготовленные вручную из натуральных ингредиентов.
	+asideFoot

.section__content

	.tabs.tabs_example
		.tabs-list
			.tabs-item.active.btn(data-tab-link='week_1', data-tab-group='week') Неделя 1
			.tabs-item.btn(data-tab-link='week_2', data-tab-group='week') Неделя 2
			.tabs-item.btn(data-tab-link='week_3', data-tab-group='week') Неделя 3

	.example.tabs-target.active(data-tab-targ='week_1', data-tab-group='week')
		.example-nav
			.example-nav__list
				.example-nav__item.js-load-day-menu.btn.active(data-storage='{week: 1, day: 1}') Пн
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 2}') Вт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 3}') Ср
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 4}') Чт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 5}') Пт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 6}') Сб
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 1, day: 7}') Вс

		.example-set
			+menuItem('/img/menu/example_1.jpg', 'Завтрак 1', 'Овсяная каша с курагой. Мандарин', '160 г.')
			+menuItem('/img/menu/example_2.jpg', 'Завтрак 2', 'Омлет со стручковой фасолью.', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Обед 1', 'Салат «Капустный».')
			+menuItem('/img/menu/example_4.jpg', 'Обед 1', 'Говядина с булгуром.')
			+menuItem('/img/menu/example_5.jpg', 'Обед 2', 'Салат «Пикантный» (курица, редис, томаты).', '160 г.')
			+menuItem('/img/menu/example_6.jpg', 'Обед 2', 'Курица и рис с шафраном.', '160 г.')
			+menuItem('/img/menu/example_7.jpg', 'Полдник', 'Индейка в томатном соусе с гречей .', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Ужин', 'Сырники с изюмом и ягодным соусом.', '250 г.')

		.example-info
			.example-info__text Калорийность недели : 1500 ккал
			.example-info__order: a.btn.js-open-popup(href='#popupOrder') Заказать

	.example.tabs-target(data-tab-targ='week_2', data-tab-group='week')
		.example-nav
			.example-nav__list
				.example-nav__item.js-load-day-menu.btn.active(data-storage='{week: 2, day: 1}') Пн
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 2}') Вт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 3}') Ср
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 4}') Чт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 5}') Пт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 6}') Сб
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 2, day: 7}') Вс

		.example-set
			+menuItem('/img/menu/example_5.jpg', 'Обед 2', 'Салат «Пикантный» (курица, редис, томаты).', '160 г.')
			+menuItem('/img/menu/example_6.jpg', 'Обед 2', 'Курица и рис с шафраном.', '160 г.')
			+menuItem('/img/menu/example_2.jpg', 'Завтрак 2', 'Омлет со стручковой фасолью.', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Обед 1', 'Салат «Капустный».')
			+menuItem('/img/menu/example_1.jpg', 'Завтрак 1', 'Овсяная каша с курагой. Мандарин', '160 г.')
			+menuItem('/img/menu/example_4.jpg', 'Обед 1', 'Говядина с булгуром.')
			+menuItem('/img/menu/example_7.jpg', 'Полдник', 'Индейка в томатном соусе с гречей .', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Ужин', 'Сырники с изюмом и ягодным соусом.', '250 г.')

		.example-info
			.example-info__text Калорийность недели : 1600 ккал
			.example-info__order: a.btn.js-open-popup(href='#popupOrder') Заказать

	.example.tabs-target(data-tab-targ='week_3', data-tab-group='week')
		.example-nav
			.example-nav__list
				.example-nav__item.js-load-day-menu.btn.active(data-storage='{week: 3, day: 1}') Пн
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 2}') Вт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 3}') Ср
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 4}') Чт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 5}') Пт
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 6}') Сб
				.example-nav__item.js-load-day-menu.btn(data-storage='{week: 3, day: 7}') Вс

		.example-set
			+menuItem('/img/menu/example_7.jpg', 'Полдник', 'Индейка в томатном соусе с гречей .', '160 г.')
			+menuItem('/img/menu/example_1.jpg', 'Завтрак 1', 'Овсяная каша с курагой. Мандарин', '160 г.')
			+menuItem('/img/menu/example_4.jpg', 'Обед 1', 'Говядина с булгуром.')
			+menuItem('/img/menu/example_2.jpg', 'Завтрак 2', 'Омлет со стручковой фасолью.', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Обед 1', 'Салат «Капустный».')
			+menuItem('/img/menu/example_5.jpg', 'Обед 2', 'Салат «Пикантный» (курица, редис, томаты).', '160 г.')
			+menuItem('/img/menu/example_6.jpg', 'Обед 2', 'Курица и рис с шафраном.', '160 г.')
			+menuItem('/img/menu/example_3.jpg', 'Ужин', 'Сырники с изюмом и ягодным соусом.', '250 г.')

		.example-info
			.example-info__text Калорийность недели : 1700 ккал
			.example-info__order: a.btn.js-open-popup(href='#popupOrder') Заказать

