.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_faq.svg', alt='')
			.title Вопросы и ответы
			.text Наши хештеги : #realfood.ru #отзывrealfood
	+asideFoot

.section__content
	.faq
		.faq-list
			.faq-item
				.faq-item__q Как начать питаться правильно?
				.faq-item__a Расчитайте свою суточную норму калорий исходя из ваших индивидуальных параметров и образа жизни при помощи калькулятора калорий.<br>Нажмите кнопку "Заказать", заполните форму.  Наш менеджер свяжется с вами в течение 15 минут.
			.faq-item
				.faq-item__q Как произвести оплату?
				.faq-item__a Оплата осуществляется банковской картой или платежной системой "Яндекс. Деньги" при оформлении заказа на сайте.
			.faq-item
				.faq-item__q Когда привезут заказ и сколько стоит доставка?
				.faq-item__a Курьер привозит ваш заказ каждые два дня с 7 утра до 12 дня, вы сами выбираете удобное для вас время, доставка осуществляется бесплатно.
			.faq-item
				.faq-item__q В какие районы развозите еду?
				.faq-item__a Мы развозим наши рационы по  Санкт-Петербургу в пределах КАД. Точная зона доставки отображена на карте, в форме заказа.
			.faq-item
				.faq-item__q Как получить скидку?
				.faq-item__a Хороший вопрос.

		.faq-feedback
			.faq-title Остались вопросы? Напишите нам.

			form.faq-form.js-form(method='post', action='/data/test_faq.json', data-form-name='faq')
				.faq-form__col
					.form-field
						.form-item
							input(type='text', name='firstName', placeholder='Ваше имя', data-required='true')
							//-.placeholder Ваше имя
					.form-field
						.form-item
							input(type='text', name='contact', placeholder='Телефон или e-mail', data-required='true')
							//-.placeholder Телефон или e-mail
				.faq-form__col
					.form-field
						.form-item
							textarea(placeholder='Ваше сообщение', data-required='true')
				.faq-form__col.faq-form__col_submit
					input.btn(type='submit', value='Отправить')