.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_thumbs-up.svg', alt='')
			.title Наши преимущества
			.text Дневной рацион из 5 приемов пищи, основанный на принципах правильного питания с учетом ваших индивидуальных параметров.
	+asideFoot


.section__content
	.feature_m
		.feature_m-text Стоимость одного бизнес-ланча в СПб - 300 руб.
		.feature_m-text В Real Food стоимость дня питания - 1090 руб.<br>(5-6 приемов пищи)
		.feature_m-ico: img(src='/img/feature/fh_1.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях. Мы закупаем продукты каждый день, поэтому вы никогда не увидите вялых листьев и неупругих помидоров. Самый длинный текст 5 строчек.
		.feature_m-ico: img(src='/img/feature/fh_2.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях.
		.feature_m-ico: img(src='/img/feature/fh_3.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях.
		.feature_m-ico: img(src='/img/feature/fh_4.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях.
		.feature_m-ico: img(src='/img/feature/fh_5.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях. Мы закупаем продукты каждый день, поэтому вы никогда не увидите вялых листьев и неупругих помидоров. Самый длинный текст 5 строчек.
		.feature_m-ico: img(src='/img/feature/fh_6.svg', alt='')
		.feature_m-text Мы тщательно отбираем продукты, только натуральные продукты, выращенные на экологически чистых полях.

	.feature
		.feature-item.feature-item_1.active(data-tab-link='feature_1', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_1.svg', alt='')
			.hover: img(src='/img/feature/fh_1.svg', alt='')
		.feature-item.feature-item_2(data-tab-link='feature_2', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_2.svg', alt='')
			.hover: img(src='/img/feature/fh_2.svg', alt='')
		.feature-item.feature-item_3(data-tab-link='feature_3', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_3.svg', alt='')
			.hover: img(src='/img/feature/fh_3.svg', alt='')
		.feature-item.feature-item_4(data-tab-link='feature_4', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_4.svg', alt='')
			.hover: img(src='/img/feature/fh_4.svg', alt='')
		.feature-item.feature-item_5(data-tab-link='feature_5', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_5.svg', alt='')
			.hover: img(src='/img/feature/fh_5.svg', alt='')
		.feature-item.feature-item_6(data-tab-link='feature_6', data-tab-group='feature')
			.origin: img(src='/img/feature/fo_6.svg', alt='')
			.hover: img(src='/img/feature/fh_6.svg', alt='')

		.feature-text.tabs-target.active(data-tab-targ='feature_1', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-text.tabs-target(data-tab-targ='feature_2', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-text.tabs-target(data-tab-targ='feature_3', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-text.tabs-target(data-tab-targ='feature_4', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-text.tabs-target(data-tab-targ='feature_5', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-text.tabs-target(data-tab-targ='feature_6', data-tab-group='feature') Стоимость одного бизнес-ланча в СПб — от 300 руб.<br><br>В Real Food стоимость дня питания — от 1090 рублей<br>(5-6 приемов пищи).
		.feature-pack
			img.feature-img.tabs-target.active(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_1', data-tab-group='feature')
			img.feature-img.tabs-target(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_2', data-tab-group='feature')
			img.feature-img.tabs-target(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_3', data-tab-group='feature')
			img.feature-img.tabs-target(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_4', data-tab-group='feature')
			img.feature-img.tabs-target(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_5', data-tab-group='feature')
			img.feature-img.tabs-target(src='/img/feature/feature-pack.png', alt='', data-tab-targ='feature_6', data-tab-group='feature')
			.line.line_1
			.line.line_2
			.line.line_3
			.line.line_4
			.line.line_5
			.line.line_6
		.feature-text.tabs-target.active(data-tab-targ='feature_1', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.
		.feature-text.tabs-target(data-tab-targ='feature_2', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.
		.feature-text.tabs-target(data-tab-targ='feature_3', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.
		.feature-text.tabs-target(data-tab-targ='feature_4', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.
		.feature-text.tabs-target(data-tab-targ='feature_5', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.
		.feature-text.tabs-target(data-tab-targ='feature_6', data-tab-group='feature') Мы тщательно отбираем продукты, только натуральные<br>продукты, выращенные на экологически чистых полях<br>Мы закупаем продукты каждый день, поэтому вы никогда<br>не увидите вялых листьев и неупругих помидоров.<br>Самый длинный текст 5 строчек.




