.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_feedback.svg', alt='')
			.title Отзывы наших клиентов
			.text Наши хештеги : #realfood.ru #отзывrealfood
	+asideFoot


.section__content

	.tabs.tabs_feedback
		.tabs-list
			.tabs-item.active.btn(data-tab-link='feedback_ig', data-tab-group='feedback') Instagram
			.tabs-item.btn(data-tab-link='feedback_sp', data-tab-group='feedback') Snapster
			.tabs-item.btn(data-tab-link='feedback_fb', data-tab-group='feedback') Facebook
			.tabs-item.btn(data-tab-link='feedback_vk', data-tab-group='feedback') Вконтакте

	.feedback.feedback_ig.tabs-target.active(data-tab-targ='feedback_ig', data-tab-group='feedback')
		.feedback-carousel
			.feedback-list

				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'ig')

			.feedback-control
				.feedback-control__item.feedback-control__item_prev
				.feedback-control__item.feedback-control__item_next

		.feedback-view
			.feedback-view__user
				.photo: img(src='/img/transparent.gif', alt='')
				.name
			.feedback-view__text

	.feedback.feedback_sp.tabs-target(data-tab-targ='feedback_sp', data-tab-group='feedback')
		.feedback-carousel
			.feedback-list
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'sp')

			.feedback-control
				.feedback-control__item.feedback-control__item_prev
				.feedback-control__item.feedback-control__item_next

		.feedback-view
			.feedback-view__user
				.photo: img(src='/img/transparent.gif', alt='')
				.name
			.feedback-view__text

	.feedback.feedback_fb.tabs-target(data-tab-targ='feedback_fb', data-tab-group='feedback')
		.feedback-carousel
			.feedback-list
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_002.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_002.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'fb')

			.feedback-control
				.feedback-control__item.feedback-control__item_prev
				.feedback-control__item.feedback-control__item_next

		.feedback-view
			.feedback-view__user
				.photo: img(src='/img/transparent.gif', alt='')
				.name
			.feedback-view__text


	.feedback.feedback_vk.tabs-target(data-tab-targ='feedback_vk', data-tab-group='feedback')
		.feedback-carousel
			.feedback-list
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'olga__vi', '/img/temp/feedback_ig_001.jpg', '176', 'Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')
				+feedback('/img/temp/feedback_logo_ig.png', '/img/temp/feedback_user_001.jpg', 'dj_irina_lavrova', '/img/temp/feedback_ig_001.jpg', '176', 'dj_irina_lavrova Healthy food В современном ритме жизни категорически не хватает времени готовить по утрам. Я нашла крутой сервис доставки правильного питания. <a href="#">@justfood.pro</a> - это здоровое, сбалансированное питание для тех, кто хочет всегда оставаться в форме. С <a href="#">@justfood</a>', 'vk')

			.feedback-control
				.feedback-control__item.feedback-control__item_prev
				.feedback-control__item.feedback-control__item_next

		.feedback-view
			.feedback-view__user
				.photo: img(src='/img/transparent.gif', alt='')
				.name
			.feedback-view__text
