.footer-inner
	.footer-logo
		img.real(src='/img/real.svg', alt='real')
		img.food(src='/img/food.svg', alt='food')
	.footer-feedback
		.footer-feedback__text Хочешь получать от нас новости, быть в курсе новинок, подпишись, будь&nbsp;человеком
		form.footer-feedback__form.js-send-ajax
			.form-field
				.form-item
					input(type='text', name='firstName', placeholder='e-mail', data-required='email')
			.form-field
				.form-item
					input.btn(type='submit', value='Заказать')

	.footer-contact
		.footer-contact__text Санкт-Петербург<br>+7(977)600-53-53<br>info@realfood.ru
		.footer-contact__soc
			a.soc-item.soc-item_ig(href='#')
			a.soc-item.soc-item_vk(href='#')
			a.soc-item.soc-item_fb(href='#')
.footer-polithics
	span.copyright © 2016 Real Food - доставка здорового и правильного питания по Санкт-Петербургу Все права защищены.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#politics" class="js-open-popup">Политика конфидециальности</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Условия использования ресурса</a><span class="age">18+</span>
	span.creator Заебашено в Amico.studio
.footer-mobile
	.footer-mobile__soc
		a.soc-item.soc-item_ig(href='#')
		a.soc-item.soc-item_vk(href='#')
		a.soc-item.soc-item_fb(href='#')
	.footer-mobile__links
		.footer-mobile__link: a(href='#') Полная версия сайта
		.footer-mobile__link: a(href='#') Публичная оферта
		.footer-mobile__link: a.js-open-popup(href='#politics') Политика конфиденциальности
	.footer-mobile__copy © 2016 Real Food - доставка<br>здорового и правильного питания<br>по Санкт-Петербургу.


