.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_instagram.svg', alt='')
			.title Мы в <img class="isg-text" src="/img/isg-text.svg">
			.text @realfood.ru
	+asideFoot


.section__content
	.instagram-list
		.instagram-item: span(style='background-image:url("/img/instagram/001.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/002.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/003.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/004.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/005.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/006.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/007.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/008.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/009.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/010.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/011.jpg");')
		.instagram-item: span(style='background-image:url("/img/instagram/012.jpg");')