.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.logo: img(src='/img/logo/logo_team.svg', alt='')
			.title Наша команда
			.text Мы проработали каждую деталь, чтобы вы&nbsp;всегда получали полезный и&nbsp;качественный продукт.
	+asideFoot


.section__content
	.team
		.team-list
			.team-wrap
				.team-item.active(data-tab-link='team_1', data-tab-group='team')
					.team-item__label
						img(src='/img/team/team-person-name_1.svg', alt='')
						img.active(src='/img/team/team-person-name_1_active.svg', alt='')
					img.team-item__photo(src='/img/team/team-photo_1.jpg', alt='')
				.team-item(data-tab-link='team_2', data-tab-group='team')
					.team-item__label
						img(src='/img/team/team-person-name_1.svg', alt='')
						img.active(src='/img/team/team-person-name_1_active.svg', alt='')
					img.team-item__photo(src='/img/team/team-photo_1.jpg', alt='')
				.team-item(data-tab-link='team_3', data-tab-group='team')
					.team-item__label
						img(src='/img/team/team-person-name_1.svg', alt='')
						img.active(src='/img/team/team-person-name_1_active.svg', alt='')
					img.team-item__photo(src='/img/team/team-photo_1.jpg', alt='')
				//-.team-item(data-tab-link='team_4', data-tab-group='team')
					.team-item__label
						img(src='/img/team/team-person-name_1.svg', alt='')
						img.active(src='/img/team/team-person-name_1_active.svg', alt='')
					img.team-item__photo(src='/img/team/team-photo_1.jpg', alt='')

		.team-person.tabs-target.active(data-tab-targ='team_1', data-tab-group='team')
			img(src='/img/team/team-person_1.png', alt='')
			.team-person_bg: img.layer(data-depth='1.80', src='/img/team/team-ico_earth.svg', alt='')

		.team-info.tabs-target.active(data-tab-targ='team_1', data-tab-group='team')
			.team-info__title Вова
			.team-info__text Специалист по квантовой и нелинейной оптике. Занимается прыжками в воду, кроссфитом. В Just Food отвечает за развитие, любит, когда его называют CEO.
			.team-info__icons
				i: img(src='/img/team/team-ico_earth-color.svg', alt='')
				i: img(src='/img/team/team-ico_plate.svg', alt='')
				i: img(src='/img/team/team-ico_earth.svg', alt='')

		.team-person.tabs-target(data-tab-targ='team_2', data-tab-group='team')
			img(src='/img/team/team-person_1.png', alt='')
			.team-person_bg: img.layer(data-depth='1.80', src='/img/team/team-ico_earth.svg', alt='')

		.team-info.tabs-target(data-tab-targ='team_2', data-tab-group='team')
			.team-info__title Вова
			.team-info__text Специалист по квантовой и нелинейной оптике. Занимается прыжками в воду, кроссфитом. В Just Food отвечает за развитие, любит, когда его называют CEO.
			.team-info__icons
				i: img(src='/img/team/team-ico_earth-color.svg', alt='')
				i: img(src='/img/team/team-ico_plate.svg', alt='')
				i: img(src='/img/team/team-ico_earth.svg', alt='')

		.team-person.tabs-target(data-tab-targ='team_3', data-tab-group='team')
			img(src='/img/team/team-person_1.png', alt='')
			.team-person_bg: img.layer(data-depth='1.80', src='/img/team/team-ico_earth.svg', alt='')

		.team-info.tabs-target(data-tab-targ='team_3', data-tab-group='team')
			.team-info__title Вова
			.team-info__text Специалист по квантовой и нелинейной оптике. Занимается прыжками в воду, кроссфитом. В Just Food отвечает за развитие, любит, когда его называют CEO.
			.team-info__icons
				i: img(src='/img/team/team-ico_earth-color.svg', alt='')
				i: img(src='/img/team/team-ico_plate.svg', alt='')
				i: img(src='/img/team/team-ico_earth.svg', alt='')

		.team-person.tabs-target(data-tab-targ='team_4', data-tab-group='team')
			img(src='/img/team/team-person_1.png', alt='')
			.team-person_bg: img.layer(data-depth='1.80', src='/img/team/team-ico_earth.svg', alt='')

		.team-info.tabs-target(data-tab-targ='team_4', data-tab-group='team')
			.team-info__title Вова
			.team-info__text Специалист по квантовой и нелинейной оптике. Занимается прыжками в воду, кроссфитом. В Just Food отвечает за развитие, любит, когда его называют CEO.
			.team-info__icons
				i: img(src='/img/team/team-ico_earth-color.svg', alt='')
				i: img(src='/img/team/team-ico_plate.svg', alt='')
				i: img(src='/img/team/team-ico_earth.svg', alt='')
