.section__aside
	+asideHead
	.aside-midd
		.aside-midd__inner
			.title Real Food - сервис доставки здорового и&nbsp;правильного питания
			.text Достигайте спортивной цели в&nbsp;2&nbsp;раза быстрее, за&nbsp;счет регулярного 5-ти разового питания по&nbsp;БЖУ
	+asideFoot


.section__content
	.welcome-title
		img.real(src='/img/real.svg', alt='real')
		img.food(src='/img/food.svg', alt='food')
	.welcome-img: img(src='/img/welcome-packs.png', alt='')
	.welcome-order: a.btn.js-open-popup(href='#popupOrder') Заказать