
.footer{
	background: #b19f83;

	@include box-sizing();


	.is-desktop &{
		//@include breakpoint($bpFP){
		padding-left: 0;
		height: $footerHeightRem;
		@include transform(translate3d(0, 0, 0));
		@include transition(transform 0.2s ease);
	}

	&-inner{
		@include pxToRem(height, 212);
		background: #fff;
		overflow: hidden;
		color: #78684f;
		display: none;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: block;
		}
	}

	&-logo{

		@include pxToRem(margin, 60, 0, 0, 120);
		float: left;

		.real{
			@include pxToRem(width, 163);
			@include pxToRem(height, 96);
			display: inline-block;
			@include pxToRem(margin-right, 25);
		}
		.food{
			@include pxToRem(width, 182);
			@include pxToRem(height, 93);
			display: inline-block;
		}
	}
	&-feedback{
		@include pxToRem(margin, 50, 0, 0, 225);
		@include pxToRem(width, 560);
		float: left;

		&__text{
			line-height: 1.375;
			@include pxToRem(margin-bottom, 20);
		}

		&__form{
			.form-field{
				display: inline-block;
				@include pxToRem(margin-right, 7);
				vertical-align: top;
			}

			input{
				@include pxToRem(height, 40);
				@include border-radius(100rem);
				@include pxToRem(width, 345);
				padding-top: 0;
				padding-bottom: 0;
			}

			.btn,
			input.btn{
				background: $colorGreen;
				border-color: $colorGreen;
				padding: 0;
				@include pxToRem(height, 40);
				color: #fff;
				@include pxToRem(line-height, 36);
				@include pxToRem(width, 195);
			}

		}
	}
	&-contact{
		@include pxToRem(margin, 40, 0, 0, 310);
		@include pxToRem(width, 290);
		float: left;

		&__text{
			line-height: 1.375;
			@include pxToRem(margin-bottom, 15);
		}
		&__soc{
			.soc-item{
				@include pxToRem(width, 40);
				@include pxToRem(height, 40);
				@include backgroundImg();
				display: inline-block;
				@include pxToRem(margin-right, 5);

				&_ig{
					background-image: url("/img/ico-soc_ig_green.svg");
				}

				&_vk{
					background-image: url("/img/ico-soc_vk_green.svg");
				}

				&_fb{
					background-image: url("/img/ico-soc_fb_green.svg");
				}
			}
		}
	}
	&-polithics{
		color: #fff;
		@include pxToRem(padding-top, 18);
		font-weight: 300;
		@include pxToRem(font-size, 14);
		display: none;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: block;
		}

		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}

		.copyright{
			@include pxToRem(margin-left, 140);
			.age{
				@include pxToRem(width, 36);
				@include pxToRem(height, 36);
				@include pxToRem(margin, -10, 0, -10, 18);
				@include pxToRem(line-height, 36);
				display: inline-block;
				text-align: center;
				border-color: #fff;
				border-style: solid;
				@include pxToRem(border-width, 2);
				@include border-radius(50%);
			}
		}

		.creator{
			float: right;
			@include pxToRem(margin-right, 140);
		}

	}

	&-mobile{

		text-align: center;
		padding-top: 60px;
		padding-bottom: 50px;

		font-size: 34px;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: none;
		}

		&__soc{

			margin-bottom: 40px;

			.soc{

				&-item{
					display: inline-block;
					width: 90px;
					height: 90px;
					background-repeat: no-repeat;
					background-position: 50% 50%;

					@include background-size();

					@include pxToRem(margin, 0, 10);


					&_ig{
						background-image: url("/img/ico-soc_ig.svg");
					}

					&_vk{
						background-image: url("/img/ico-soc_vk.svg");
					}

					&_fb{
						background-image: url("/img/ico-soc_fb.svg");
					}
				}
			}
		}

		&__links{
			line-height: 1.7;
			margin-bottom: 40px;
		}

		&__link{

		}
	}
}