// fullPage 2.8.3
// https://github.com/alvarotrigo/fullPage.js
// MIT licensed
// Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    // Avoid flicker on slides transitions for mobile phones #336 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    //  Touch detection for Windows 8 
    -ms-touch-action: none;

    //  IE 11 on Windows Phone 8.1
    touch-action: none;
}
.fp-section {
    position: relative;
    min-height: 100%;
    @include box-sizing();
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; //  Safari<=6 Android<=4.3 
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; //  webkit (safari, chrome) browsers 
    -moz-user-select: none; //  mozilla browsers 
    -khtml-user-select: none; //  webkit (konqueror) browsers 
    -ms-user-select: none; //  IE10+ 
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}



//colors
$white: #fff;
$color_mine_shaft_approx: #333;

//fonts
$font_0: arial;
$font_1: helvetica;
$font_2: sans-serif;

//@extend-elements
//original selectors
//html.fp-enabled, .fp-enabled body
%extend_1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

//original selectors
//.fp-slide, .fp-slidesContainer
%extend_2 {
    height: 100%;
    display: block;
}

//original selectors
//.fp-section.fp-table, .fp-slide.fp-table
%extend_3 {
    display: table;
    table-layout: fixed;
    width: 100%;
}

//original selectors
//#fp-nav ul, .fp-slidesNav ul
%extend_4 {
    margin: 0;
    padding: 0;
}

//original selectors
//#fp-nav ul li, .fp-slidesNav ul li
%extend_5 {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

//original selectors
//#fp-nav ul li a, .fp-slidesNav ul li a
%extend_6 {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

//original selectors
//#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span
%extend_7 {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
}

//original selectors
//#fp-nav ul li a span, .fp-slidesNav ul li a span
%extend_8 {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: $color_mine_shaft_approx;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.1s ease-in-out;
}

//original selectors
//#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span
%extend_9 {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
}

//original selectors
//#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active +.fp-tooltip
%extend_10 {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

//original selectors
//.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell
%extend_11 {
    height: auto !important;
}

//original selectors
//.fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell
%extend_12 {
    height: auto !important;
}


#superContainer {
    height: 100%;
    position: relative;
    touch-action: none;
}
.fp-section {
    position: relative;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &.fp-table {
        @extend %extend_3;
    }
}
.fp-slide {
    float: left;
    @extend %extend_2;
    &.fp-table {
        @extend %extend_3;
    }
}
.fp-slidesContainer {
    @extend %extend_2;
    float: left;
    position: relative;
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease-out;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0,0,0);
    &.fp-prev {
        left: 15px;
        width: 0;
        border-width: 38.5px 34px 38.5px 0;
        border-color: transparent $white transparent transparent;
    }
    &.fp-next {
        right: 15px;
        border-width: 38.5px 0 38.5px 34px;
        border-color: transparent transparent transparent $white;
    }
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller {
    overflow: hidden;
}
.iScrollIndicator {
    border: 0 !important;
}
.fp-notransition {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    &.right {
        right: 17px;
    }
    &.left {
        left: 17px;
    }
    ul {
        @extend %extend_4;
        li {
            @extend %extend_5;
            a {
                @extend %extend_6;
                span {
                    @extend %extend_8;
                }
                &.active span {
                    @extend %extend_7;
                }
            }
            &:hover {
                a {
                    span {
                        @extend %extend_9;
                    }
                    &.active span {
                        @extend %extend_7;
                    }
                }
                .fp-tooltip {
                    @extend %extend_10;
                }
            }
            .fp-tooltip {
                position: absolute;
                top: -2px;
                color: $white;
                font-size: 14px;
                font-family: $font_0, $font_1, $font_2;
                white-space: nowrap;
                max-width: 220px;
                overflow: hidden;
                display: block;
                opacity: 0;
                width: 0;
                cursor: pointer;
                &.right {
                    right: 20px;
                }
                &.left {
                    left: 20px;
                }
            }
        }
    }
    &.fp-show-active a.active + .fp-tooltip {
        @extend %extend_10;
    }
}
.fp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    &.bottom {
        bottom: 17px;
    }
    &.top {
        top: 17px;
    }
    ul {
        @extend %extend_4;
        li {
            @extend %extend_5;
            display: inline-block;
            a {
                @extend %extend_6;
                span {
                    @extend %extend_8;
                }
                &.active span {
                    @extend %extend_7;
                }
            }
            &:hover a {
                span {
                    @extend %extend_9;
                }
                &.active span {
                    @extend %extend_7;
                }
            }
        }
    }
}
.fp-auto-height {
    &.fp-section {
        @extend %extend_11;
    }
    .fp-slide {
        @extend %extend_11;
    }
    .fp-tableCell {
        @extend %extend_11;
    }
}
html.fp-enabled {
    @extend %extend_1;
}
.fp-enabled body {
    @extend %extend_1;
}
.fp-responsive .fp-auto-height-responsive {
    &.fp-section {
        @extend %extend_12;
    }
    .fp-slide {
        @extend %extend_12;
    }
    .fp-tableCell {
        @extend %extend_12;
    }
}


// fade effect




.fp-viewing-welcome,
.fp-viewing-feature,
.fp-viewing-example,
.fp-viewing-calculate,
.fp-viewing-feedback,
.fp-viewing-team,
.fp-viewing-instagram,
.fp-viewing-faq {

}

.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}

.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	@include transition();
}

.fp-section.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}
