%extend_btn{
	@include border-radius(100rem);
	@include box-sizing();
	@include user-select();
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-width: 0;
	text-decoration: none!important;
}

.btn{

	@extend %extend_btn;
	@include pxToRem(line-height, 84);
	@include pxToRem(height, 90);
	@include pxToRem(font-size, 34);
	@include pxToRem(border-width, 3);

	.is-desktop &{
		//@include breakpoint($bpFP){
		@include pxToRem(line-height, 56);
		@include pxToRem(height, 60);
		@include pxToRem(font-size, 18);
		@include pxToRem(border-width, 2);


		&:hover{
			opacity: 0.8;
		}
	}
}

.section{
	position: relative;

	&__anchor{
		position: absolute;
		top:-130px;
		left: 0;
		width: 1px;
		bottom: 0;
		display: block;

		.is-desktop &{
			//@include breakpoint($bpFP){
			top:0;
		}
	}

	//@include breakpoint(0 $bpFP - 1px){
	//	display: none;
	//
	//	&.active{
	//		display: block;
	//	}
	//}

	&_welcome{ 
		color: $colorGreen; 
		background: #e3ddd3 url("/img/bg/welcome_m.jpg") no-repeat top center;
		background-size: cover;
		-webkit-background-size: cover;


		.section__anchor{
			top:0px;
		}

		.is-desktop &{
			//@include breakpoint($bpFP){
			background-image:url("/img/bg/welcome.jpg");
		}


		.section__inner{
			//@include breakpoint($bpC $bpFP - 1px){
			.is-mobile &{
				padding-top: 1370px;
			}
		}

		.section__content{
			display: none;

			.is-desktop &{
				//@include breakpoint($bpFP){
				display: block;
				overflow: hidden;
				@include transition(none!important);
			}
		}

		.welcome{
			&-title{
				text-align: center;
				@include pxToRem(margin, 130, 0, 90);
				.real{
					display: inline-block;
					@include pxToRem(width, 211);
					@include pxToRem(height, 123);
					@include pxToRem(margin, 0, 18);
				}
				.food{
					display: inline-block;
					@include pxToRem(width, 225);
					@include pxToRem(height, 126);
					@include pxToRem(margin, 0, 18);
				}
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			&-img{
				@include pxToRem(width, 860);
				@include pxToRem(height, 440);
				margin: 0 auto;

				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			&-order{
				text-align: center;

				.btn{
					background: $colorGreen;
					border-color: $colorGreen;
					@include pxToRem(width, 270);
					@include pxToRem(margin-top, 25);
				}
			}
		}

	}
	&_feature{ 
		color: $colorRed;
		background: #f7f5f2;
		text-align: center;

		//@include breakpoint(0 $bpFP - 1px){
		.is-mobile &{
			display: none;
		}

		.feature{
			@include pxToRem(padding-top, 120);
			@include box-sizing();
			width: 100%;
			height: 100%;
			position: relative;
			display: none;

			.is-desktop &{
				//@include breakpoint($bpFP){
				display: block;
			}

			&_m{
				text-align: center;
				@include pxToRem(font-size, 34);
				@include pxToRem(margin-bottom, 160);

				.is-desktop &{
					//@include breakpoint($bpFP){
					display: none;
				}

				&-text {
					color: #927f61;
					margin: 20px 0;
				}

				&-ico{
					margin: 80px 0 20px;

					img{
						width: 320px;
					}
				}
			}

			&-text{
				color: #927f61;
				@include pxToRem(font-size, 16);
				line-height: 1.5;
				@include pxToRem(height, 130);
			}

			&-pack{
				@include pxToRem(width, 500);
				@include pxToRem(height, 350);
				position: relative;
				margin: 0 auto;
				//@include pxToRem(margin-top, 30);
				@include pxToRem(margin-bottom, 35);
				@include pxToRem(margin-top, 35);

				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: 1;
					background: #f7f5f2;
					top: 5px;
					left: 5px;
					right: 5px;
					bottom: 5px;
				}

				.line{
					width: 10%;
					height: (100%/3);
					position: absolute;
					overflow: hidden;
					@include transition(all 1s ease);

					&:after{
						content: '';
						position: absolute;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: cover;
						-webkit-background-size: cover;
					}

					&_1{
						bottom:(2*100%/3);
						right: 50%;
						@include pxToRem(width, 199);

						&:after{
							@include pxToRem(right, 199);
							@include pxToRem(bottom, 97);
							@include pxToRem(width, 110);
							@include pxToRem(height,90);
							background-image: url("/img/feature/fl_1.svg");
						}
					}

					&_2{
						top:(100%/3);
						right: 50%;
						@include pxToRem(width, 242);

						&:after{
							@include pxToRem(right, 242);
							@include pxToRem(top, 94);
							@include pxToRem(width, 70);
							@include pxToRem(height, 16);
							background-image: url("/img/feature/fl_2.svg");
						}
					}

					&_3{
						top:(2*100%/3);
						right: 50%;
						@include pxToRem(width, 202);

						&:after{
							@include pxToRem(right, 202);
							@include pxToRem(top, 98);
							@include pxToRem(width, 108);
							@include pxToRem(height, 94);
							background-image: url("/img/feature/fl_3.svg");
						}
					}

					&_4{
						bottom:(2*100%/3);
						left: 50%;
						@include pxToRem(width, 195);

						&:after{
							@include pxToRem(left, 195);
							@include pxToRem(bottom, 97);
							@include pxToRem(width, 110);
							@include pxToRem(height,90);
							background-image: url("/img/feature/fl_4.svg");
						}
					}

					&_5{
						top:(100%/3);
						left: 50%;
						@include pxToRem(width, 238);

						&:after{
							@include pxToRem(left, 238);
							@include pxToRem(top, 94);
							@include pxToRem(width, 70);
							@include pxToRem(height, 16);
							background-image: url("/img/feature/fl_5.svg");
						}
					}

					&_6{
						top:(2*100%/3);
						left: 50%;
						@include pxToRem(width, 198);

						&:after{
							@include pxToRem(left, 198);
							@include pxToRem(top, 98);
							@include pxToRem(width, 108);
							@include pxToRem(height, 94);
							background-image: url("/img/feature/fl_6.svg");
						}
					}
				}
			}

			&-img{
				//display: block;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 1;
			}


			&-item{

				width: 50%;
				//height: (100%/3);
				@include pxToRem(height, 300);
				position: absolute;
				z-index: 10;

				&.active,
				&:hover{
					.hover{
						opacity: 1;
					}
				}

				&_1{
					top:0;
					left: 0;

					.origin,
					.hover{
						@include pxToRem(left, 91);
						@include pxToRem(top, 84);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_1{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}

				&_2{
					//top:(100%/3);
					@include pxToRem(top,300);
					left: 0;

					.origin,
					.hover{
						@include pxToRem(left, 91);
						@include pxToRem(top, 50);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_2{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}

				&_3{
					//top:(2*100%/3);
					@include pxToRem(top, 600);
					left: 0;

					.origin,
					.hover{
						@include pxToRem(left, 91);
						@include pxToRem(bottom, 82);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_3{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}

				&_4{
					top:0;
					left: 50%;

					.origin,
					.hover{
						@include pxToRem(right, 91);
						@include pxToRem(top, 84);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_4{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}

				&_5{
					//top:(100%/3);
					@include pxToRem(top, 300);
					left: 50%;

					.origin,
					.hover{
						@include pxToRem(right, 91);
						@include pxToRem(top, 50);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_5{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}

				&_6{
					//top:(2*100%/3);
					@include pxToRem(top, 600);
					left: 50%;

					.origin,
					.hover{
						@include pxToRem(right, 91);
						@include pxToRem(bottom, 82);
					}

					//&:hover,
					&.active {
						& ~ .feature-pack{
							.line_6{
								@include pxToRem(width, 320);
								@include pxToRem(height, 200);
							}
						}
					}
				}


				.origin,
				.hover{
					cursor: pointer;
					position: absolute;
					@include pxToRem(width, 220);
					@include pxToRem(height, 220);

					img{
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.hover{
					opacity: 0;
					@include transition(opacity 0.2s ease);
				}


			}

		}
	}
	&_balance{
		color: $colorOrange;
		background: #eeece9;

		.balance{
			@include pxToRem(padding, 20);

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(padding, 30, 50);
			}

			&-img{

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(width, 1170);
				}

				img{
					width: 100%;
					margin-bottom: calc( -47% - 100px );

					.is-desktop &{
						//@include breakpoint($bpFP){
						margin-bottom: 0;
					}
				}
			}

			&-info{
				color: $colorText;

				&__title{
					font-weight: 500;
					@include pxToRem(margin, 30, 0, 15);

					font-size: 48px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 24);
					}
				}

				&__text{
					font-weight: 300;
					line-height: 1.375;
					@include pxToRem(margin-bottom, 25);

					font-size: 34px;
					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 16);
					}
				}

				&__list{
					font-weight: 300;
					font-size: 0;
					@include pxToRem(margin-top, 25);
				}

				&__item{
					position: relative;
					display: inline-block;
					line-height: 1.5;
					vertical-align: top;
					@include pxToRem(padding, 30, 0, 30, 180);
					font-size: 30px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 14);
						@include pxToRem(padding, 0, 0, 0, 70);
						@include pxToRem(width, 420);

						&:nth-of-type(2n-1){
							@include pxToRem(margin-right, 70);
						}
					}

					&:before{
						content: '';
						display: block;
						@include pxToRem(width, 160);
						@include pxToRem(height, 145);
						@include pxToRem(margin-left, -72);
						@include pxToRem(top, 30);
						left: 80px;
						position: absolute;
						background: url("/img/balance-marker.svg") no-repeat 50% 50%;
						background-size: 100% 100%;
						-webkit-background-size: 100% 100%;

						.is-desktop &{
							//@include breakpoint($bpFP){
							left: 0;
							margin-left:0;
							@include pxToRem(top, -5);
							@include pxToRem(width, 55);
							@include pxToRem(height, 63);
						}
					}
				}
			}
			&-info{}
		}
	}
	&_example{
		color: $colorGreen;
		background: url("/img/bg/background_example.jpg") no-repeat top center;
		background-size: cover;
		-webkit-background-size: cover;

		.example{
			font-size: 0;
			position: relative;

			&-nav{
				z-index: 1;
				overflow: hidden;
				//margin: 0 -30px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					position: absolute;
					@include pxToRem(left, 610);
					@include pxToRem(top, -100);
				}

				&__list{
					white-space: nowrap;
					overflow-x: auto;
					overflow-y: hidden;
					-webkit-overflow-scrolling: touch;
					margin-bottom: -20px;
					padding: 0 30px 20px;
				}

				&__item{
					display: inline-block;
					border-style: solid;
					text-align: center;
					padding: 0;
					cursor: pointer;
					border-color: $colorGreen;
					color: $colorGreen;
					@include pxToRem(width, 90);
					@include pxToRem(height, 90);
					@include pxToRem(line-height, 84);
					@include pxToRem(font-size, 26);
					@include border-radius(50%);
					@include user-select();
					@include pxToRem(margin-left, 20);
					@include pxToRem(border-width, 3);

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(margin-left, 10);
						@include pxToRem(width, 40);
						@include pxToRem(height, 40);
						@include pxToRem(line-height, 36);
						@include pxToRem(font-size, 16);
						@include pxToRem(border-width, 2);
					}

					&.active{
						background: $colorGreen;
						color: #fff;
					}
				}
			}

			&-set{
				font-size: 0;
				@include pxToRem(margin-bottom, 30);

				.is-mobile &{
					@include pxToRem(margin-top, 40);
				}

				.is-desktop &{
					@include pxToRem(height, 640);
					@include pxToRem(margin-bottom, 85);
				}

				&__item{
					position: relative;
					font-size: 34px;
					margin: 0 20px 0px;
					line-height: 1.375;

					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{
						overflow: hidden;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						display: inline-block;
						vertical-align: top;
						@include pxToRem(font-size, 19);
						@include pxToRem(width, 290);
						@include pxToRem(margin, 0, 20, 30, 0);

						&:nth-of-type(4n){
							margin-right: 0;
						}
					}
				}
				&__img{
					@include pxToRem(width, 250);
					@include pxToRem(height, 200);
					margin: 0 auto;
					position: relative;

					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{
						margin: 0;
						float: left;
					}

					img{
						width: 100%;
						height: 100%;
					}
				}
				&__label{
					@include pxToRem(font-size, 12);
					position: absolute;
					@include pxToRem(min-width, 35);
					@include pxToRem(height, 45);
					@include pxToRem(line-height, 45);
					text-align: center;
					@include pxToRem(padding, 0, 5);
					@include border-radius(50%);
					background: #bbb3a7;
					color: #fff;
					@include pxToRem(left, 5);
					@include pxToRem(top, 80);
					font-weight: 300;
				}
				&__title{
					font-weight: 500;

					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{
						margin-left: 310px;
						margin-top: 25px;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(padding, 0, 20, 0, 50);
					}

				}
				&__text{
					font-weight: 300;
					color: $colorText;

					.is-mobile &{
						//@include breakpoint($bpC $bpFP - 1px){
						margin-left: 310px;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(padding, 0, 20, 0, 50);
					}
				}
			}

			&-info{

				padding: 0 20px 80px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(padding, 0, 10, 0, 50);
					z-index: 1;
					position: relative;
				}

				&__text{
					font-weight: 500;
					font-size: 48px;
					padding-bottom: 30px;


					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{
						float: left;
						width: 50%;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 30);
						padding-bottom: 0;
						float: left;
					}
				}

				&__order{

					float: right;

					.btn{
						border-color: $colorGreen;
						background: $colorGreen;
						display: block;

						//@include breakpoint($bpC $bpFP - 1px){
						.is-mobile &{
							@include pxToRem(width, 310);
						}

						.is-desktop &{
							//@include breakpoint($bpFP){
							display: inline-block;
							@include pxToRem(margin-top, -15);
							@include pxToRem(width, 270);
							@include pxToRem(font-size, 18);
							@include pxToRem(height, 60);
							@include pxToRem(line-height, 56);
						}
					}
				}
			}
		}
	}

	&_calculate{ 
		color: $colorOrange;

		.calculate{
			@include pxToRem(padding-top, 20);
			margin: 0 20px;

			.is-desktop &{
				//@include breakpoint($bpFP){
				margin: 0;
			}

			&-step{
				position: relative;

				&.disable{
					color: $colorText;

					.calculate-num .act{
						opacity: 0;
					}

					.input{
						border-color: $colorText;
					}

					.btn{
						border-color: $colorText;
						color: $colorText;
						cursor: default;
					}
				}

				&.light{
					color: $colorYellow;

					.btn{
						border-color: $colorYellow;
						color: $colorYellow;
					}
				}

			}

			&-num{
				@include pxToRem(width, 120);
				@include pxToRem(height, 150);
				@include pxToRem(margin-top, 13);
				top:0;
				position: absolute;
				@include pxToRem(left, 50);


				display: none;
				.is-desktop &{
					//@include breakpoint($bpFP){
					display: block;
				}

				img{
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top:0;
					left: 0;

				}
			}

			&-item{
				@include pxToRem(padding, 35, 0);

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(padding, 35, 0, 35, 310);
				}
			}

			&-title{
				font-size: 48px;
				@include pxToRem(margin-bottom, 25);
				font-weight: 500;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 24);
				}
			}

			&-field{
				.btn{
					padding: 0 20px;
					margin-right: 20px;
					margin-bottom: 20px;
					vertical-align: top;
					border-color: $colorOrange;
					color: $colorOrange;
					cursor: pointer;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(margin-bottom, 0);
						@include pxToRem(font-size, 18);
						@include pxToRem(padding, 0, 50);
						@include pxToRem(margin-right, 20);
					}

					&.active{
						background: $colorOrange;
						color: #fff;
					}

					&_m{
						line-height: 0.9;
						padding: 0;
						@include pxToRem(margin-bottom, 20);
						display: block;
						margin-right: 0;

						.is-desktop &{
							//@include breakpoint($bpFP){
							display: inline-block;
							@include pxToRem(width, 295);
							@include pxToRem(margin-right, 10);
							@include pxToRem(margin-bottom, 20);
							padding: 0;
						}

						&:nth-of-type(3n){
							margin-right: 0;
						}

						&:after{
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: middle;
						}

						span{
							display: inline-block;
							vertical-align: middle;
							white-space: nowrap;
							position: relative;

							i{
								font: inherit;
								font-weight: 300;
								font-size: 30px;

								.is-desktop &{
									//@include breakpoint($bpFP){
									@include pxToRem(font-size, 14);
								}
							}
						}
					}
				}

				label{
					display: block;
					vertical-align: top;
					@include pxToRem(margin-right, 30);
					margin-bottom: 20px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						display: inline-block;
						margin-bottom: 0;
					}
				}

				.label{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(width, 180);
					font-size: 34px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(width, 140);
						@include pxToRem(font-size, 18);
						@include pxToRem(margin-right, 20);
						width: auto;
					}
				}

				.input{

					height: 90px;
					line-height: 84px;
					padding: 0 50px;
					margin-right: 0;
					margin-bottom: 0;
					background: none;

					display: inline-block;
					font: inherit;
					vertical-align: middle;
					@include box-sizing();
					border-width: 3px;
					width: 230px;
					text-align: center;
					border-color: $colorOrange;
					border-style: solid;
					@include border-radius(100rem);
					color: $colorText;
					@include pxToRem(font-size, 24);


					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 18);
						@include pxToRem(border-width, 2);
						@include pxToRem(width, 105);
						@include pxToRem(height, 45);
						@include pxToRem(line-height, 41);
						@include pxToRem(padding, 0, 20);
					}
				}
			}

			&-result{
				font-weight: 500;
				font-size: 48px;
				padding-bottom: 80px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(padding, 10, 0, 0, 50);
					@include pxToRem(font-size, 30);
				}

				&.disable{
					color: $colorText;
				}

				.example{
					&-info{

						&__text {

							padding-bottom: 30px;

							//@include breakpoint($bpC $bpFP - 1px){
							.is-mobile &{
								float: left;
								width: 50%;
							}

							.is-desktop &{
								//@include breakpoint($bpFP){
								float: left;
								padding-bottom: 0;
							}
						}

						&__order{
							float: right;

							.btn {
								border-color: $colorOrange;
								background: $colorOrange;
								display: block;

								//@include breakpoint($bpC $bpFP - 1px){
								.is-mobile &{
									@include pxToRem(width, 310);
								}

								.is-desktop &{
									//@include breakpoint($bpFP){
									display: inline-block;
									@include pxToRem(width, 270);
									@include pxToRem(font-size, 18);
									@include pxToRem(margin-top, -15);
									@include pxToRem(height, 60);
									@include pxToRem(line-height, 56);
								}
							}
						}
					}
				}
			}
		}
	}
	&_feedback{ 
		color: $colorBlue;
		background: #f5f5f5;

		.feedback{

			&-carousel{
				width: 374px;
				padding-top: 110px;
				height: 700px;
				margin: 0 auto;
				position: relative;

				.is-desktop &{
					//@include breakpoint($bpFP){
					overflow: hidden;
					float: left;
					@include pxToRem(width, 790);
					height: auto;
					@include pxToRem(padding-top, 80);
					@include pxToRem(margin, 0, 0, 0, -20);
				}
			}

			&-list{
				position: relative;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(height, 385);
				}

				&:before{
					content: '';
					display: block;
					width: 456px;
					height: 819px;
					position: absolute;
					background: url("/img/feedback-phone@2x.png") no-repeat 50% 50%;
					background-size: 100% 100%;
					-webkit-background-size: 100% 100%;
					z-index: 10;
					top: -110px;
					right: -15px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(width, 294);
						@include pxToRem(height, 528);
						@include pxToRem(top, -69);
						@include pxToRem(right, 20);
					}
				}

				.owl-stage-outer{
					position: relative;

					//@include breakpoint(0 $bpFP - 1px){
					.is-mobile &{
						overflow: visible;
					}

					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{

						&:after{
							content: '';
							display: block;
							background:#f5f5f5;
							height: 100%;
							position: absolute;
							top:0;
							right: -100%;
							left: 100%;
						}
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						&:after{
							content: '';
							display: block;
							background:#f5f5f5;
							height: 100%;
							@include pxToRem(width, 30);
							position: absolute;
							top:0;
							right: 0;
						}
					}
				}
			}

			&-item{
				width: 334px;
				height: 596px;
				color: #000;
				text-align: left;
				position: relative;
				font-size: 12px;
				margin: 0 20px;
				@include transition(right 0.3s ease);
				background: #fff;

				direction: ltr;
				overflow: hidden;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(width, 220);
					@include pxToRem(height, 385);
					@include pxToRem(font-size, 9);
					@include pxToRem(right, -15);
					@include pxToRem(margin, 0, 5);
				}

				&__head{
					//border-bottom: 1px solid #dbdbdb;
					padding: 0;
					//height: 23px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						//@include pxToRem(padding, 2, 7);
						//@include pxToRem(height, 17);
					}

					.logo{
						width: 100%;
					}
				}

				&__user{
					@include pxToRem(padding, 3, 7);
					.photo{
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(margin-right, 10);
						img{
							display: block;
							@include border-radius(50%);
							width: 36px;
							height: 36px;

							.is-desktop &{
								//@include breakpoint($bpFP){
								@include pxToRem(width, 23);
								@include pxToRem(height, 23);
							}
						}
					}
					.name{
						display: inline-block;
						vertical-align: middle;
					}
				}

				&__img{
					img{
						width: 334px;

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(width, 220);
						}
					}
				}

				&__text,
				&__info{
					@include pxToRem(padding, 5, 10);
					line-height: 1.4;

					a{
						color: #4d7ea8;
					}

					.look,
					.comment,
					.share,
					.rate{
						display: inline-block;
						vertical-align: middle;
						&:before{
							content: '';
							position: relative;
							@include pxToRem(top, -1);
							display: inline-block;
							@include pxToRem(width, 10);
							@include pxToRem(height, 8);
							background: url("/img/ico-like-feedback.svg") no-repeat 50% 50%;
							background-size: contain;
							-webkit-background-size: contain;
							vertical-align: middle;
							@include pxToRem(margin-right, 8);
						}
					}
				}


				&_ig{
					.feedback-item{
						&__user{
							@include pxToRem(margin-top, 3);
							.name{
								font-weight: 600;
							}

							position: relative;
							&:after{
								content: '';
								display: block;
								position: absolute;
								@include pxToRem(width, 5);
								@include pxToRem(height, 15);
								background: url("/img/ico-more-feedback.svg") no-repeat 50% 50%;
								background-size: contain;
								-webkit-background-size: contain;
								@include pxToRem(top,6);
								@include pxToRem(right, 10);
							}
						}
						&__img{
							@include pxToRem(margin, 3, 0);
						}
						&__info{

							.rate{
								font-weight: bold;

								&:before{
									position: relative;
									@include pxToRem(top, -1);
								}
							}
						}
						&__text{
							padding-top: 0;
						}
					}
				}

				&_fb{
					.feedback-item{
						&__user{
							@include pxToRem(margin-top, 3);
							.name{
								font-weight: 600;
								span{
									color: #9b9fa2;
									font-weight: 400;
									@include pxToRem(font-size, 8);
								}
							}

							.photo {
								@include pxToRem(margin-right, 5);
								img{
									@include border-radius(0);
								}
							}
						}
						&__img{
							@include pxToRem(margin, 3, 0);
						}
						&__info{
							.rate{
								color: #9b9fa2;

								&:before{
									background-image: url("/img/ico-like-feedback-fb.svg");
									@include pxToRem(width, 10);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}
						}
					}
				}

				&_sp{
					.feedback-item{
						&__user{
							@include pxToRem(margin, 3, 0);
							.name{
								font-weight: 600;
								color: #3a6fa4;
								span{
									color: #9b9fa2;
									font-weight: 400;
									@include pxToRem(font-size, 8);
								}
							}

							.photo {
								@include pxToRem(margin-right, 5);
							}

							position: relative;
							&:after{
								content: '';
								display: block;
								position: absolute;
								@include pxToRem(width, 5);
								@include pxToRem(height, 15);
								background: url("/img/ico-more-feedback.svg") no-repeat 50% 50%;
								background-size: contain;
								-webkit-background-size: contain;
								@include pxToRem(top,7);
								@include pxToRem(right, 14);
							}
						}
						&__img{
							@include pxToRem(margin, 3, 0);
						}
						&__info{

							border-bottom: 1px solid #fafafa;
							@include pxToRem(padding-bottom, 5);
							@include pxToRem(margin-bottom, 2);

							.rate{
								color: #565a5e;
								font-weight: 600;

								span{
									color: #3e6ea0;
								}

								&:before{
									background-image: url("/img/ico-like-feedback-sp.svg");
									@include pxToRem(width, 12);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}

							.look{
								color: #cacdd2;
								float: right;
								@include pxToRem(margin-top, 1);

								&:before{
									background-image: url("/img/ico-look-feedback.svg");
									@include pxToRem(width, 12);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}
						}
					}
				}

				&_vk{
					.feedback-item{
						&__user{
							@include pxToRem(margin, 3, 0, 0);
							.name{
								font-weight: 600;
								color: #3a6fa4;
								span{
									color: #9b9fa2;
									font-weight: 400;
									@include pxToRem(font-size, 8);
								}
							}

							.photo {
								@include pxToRem(margin-right, 5);
							}

							position: relative;
							&:after{
								content: '';
								display: block;
								position: absolute;
								@include pxToRem(width, 5);
								@include pxToRem(height, 15);
								background: url("/img/ico-more-feedback.svg") no-repeat 50% 50%;
								background-size: contain;
								-webkit-background-size: contain;
								@include pxToRem(top,6);
								@include pxToRem(right, 10);
							}
						}
						&__img{
							@include pxToRem(margin, 3, 0);
						}
						&__info{

							border-bottom: 1px solid #fafafa;
							@include pxToRem(padding-bottom, 5);
							@include pxToRem(margin-bottom, 2);
							text-align: center;

							.rate{
								color: #90999b;
								font-weight: 600;
								float: left;

								span{
									color: #3e6ea0;
								}

								&:before{
									background-image: url("/img/ico-like-feedback-vk.svg");
									@include pxToRem(width, 12);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}

							.comment{
								color: #90999b;
								@include pxToRem(margin-top, 1);
								@include pxToRem(min-width, 15);

								&:before{
									background-image: url("/img/ico-comment-feedback-vk.svg");
									@include pxToRem(width, 12);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}

							.share{
								color: #90999b;
								float: right;
								@include pxToRem(margin-top, 1);

								&:before{
									background-image: url("/img/ico-share-feedback-vk.svg");
									@include pxToRem(width, 12);
									@include pxToRem(height, 10);
									@include pxToRem(margin-right, 4);
								}
							}
						}
					}
				}

			}

			.is-desktop &{
				//@include breakpoint($bpFP){
				.owl-item.active.center{
					.feedback-item{
					}

					& ~ .owl-item .feedback-item{
						@include pxToRem(right, 0);
					}
				}
			}

			&-control{

				margin: 140px auto 0;
				position: relative;
				z-index: 10;
				text-align: center;

				//@include breakpoint($bpC $bpFP - 1px){
				.is-mobile &{

					position: absolute;
					top:145px;
					left: 400px;
					width: 180px;
				}

				.is-desktop &{
					//@include breakpoint($bpFP){
					float: right;
					text-align: left;
					@include pxToRem(margin, 120, 43, 0, 0);
				}

				&__item{
					width: 90px;
					height: 90px;
					display: inline-block;
					@include border-radius(50%);
					border: 3px solid $colorBlue;
					background: 50% 50% no-repeat;
					background-size: 100% 100%;
					-webkit-background-size: 100% 100%;
					cursor: pointer;
					@include user-select();
					@include pxToRem(margin, 0, 30);


					//@include breakpoint($bpC $bpFP - 1px){
					.is-mobile &{
						margin-bottom: 60px;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(width, 36);
						@include pxToRem(height, 36);
						border-width: 2px;
					}

					&:hover{
						background-color: $colorBlue;
					}

					&_prev{
						background-image: url("/img/arrow-prev.svg");
						&:hover{
							background-image: url("/img/arrow-prev_w.svg");
						}
					}

					&_next{
						background-image: url("/img/arrow-next.svg");
						&:hover{
							background-image: url("/img/arrow-next_w.svg");
						}
					}


				}
			}

			&-view{
				margin: 200px auto 0;
				color: $colorText;
				line-height: 1.4;
				font-weight: 300;

				//@include breakpoint($bpC $bpFP - 1px){
				.is-mobile &{
					margin-top: 80px;
				}

				//@include breakpoint(0 $bpFP - 1px){
				.is-mobile &{
					font-size: 34px;
					padding: 0 30px 90px;
					text-align: center;
				}

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(margin, 90, 0, 0, 35);
					float: left;
					@include pxToRem(width, 345);
				}

				&__user{
					margin-bottom: 30px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(margin-bottom, 15);
					}

					.photo{
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(margin-right, 15);
						img{
							display: block;
							@include border-radius(50%);
							width: 90px;
							height: 90px;

							.is-desktop &{
								//@include breakpoint($bpFP){
								@include pxToRem(width, 40);
								@include pxToRem(height, 40);
							}
						}
					}
					.name{
						display: inline-block;
						vertical-align: middle;
					}
				}

				&__text{
					a{
						color: $colorBlue;
					}
				}
			}

		}

	}
	&_team{ 
		color: $colorRed;

		.team{


			&-list{

				//@include breakpoint( 0 $bpFP - 1px ){
				.is-mobile &{
					margin: 40px -10px 0;
					overflow: hidden;
				}

				.is-desktop &{
					//@include breakpoint($bpFP){
					white-space: normal;
					float: left;
					@include pxToRem(width, 290);
					@include pxToRem(margin-top, 118);
				}
			}

			&-wrap{

				//@include breakpoint( 0 $bpFP - 1px ){
				.is-mobile &{

					white-space: nowrap;
					overflow-x: auto;
					overflow-y: hidden;
					-webkit-overflow-scrolling: touch;
					margin-bottom: -20px;
					padding-bottom: 15px;
				}
			}

			&-item{
				width: 234px;
				height: 234px;
				margin: 0 7px;
				@include border-radius(50%);
				@include box-shadow(5px 5px 9px 0 rgba(#000, .3));
				@include pxToRem(margin-bottom, 20);
				cursor: pointer;
				@include transition();
				position: relative;
				display: inline-block;

				.is-desktop &{
					//@include breakpoint($bpFP){
					display: block;
					@include pxToRem(width, 155);
					@include pxToRem(height, 155);
					margin: 0 auto;
					@include pxToRem(margin-bottom, 20);
				}

				&:hover{
					@include box-shadow(2px 2px 8px -2px rgba(#000, .3));
				}

				&__label{
					@include border-radius(50%);
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;

					img{
						width: 100%;
						height: 100%;
						position: absolute;
						top:0;
						left: 0;
						display: block;
						@include transition();

						&.active{
							opacity: 0;
						}
					}
				}

				&__photo{
					width: 128px;
					height: 128px;
					margin: 53px;
					@include border-radius(50%);

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(width, 85);
						@include pxToRem(height, 85);
						@include pxToRem(margin, 35);
					}
				}

				&.active{
					background: $colorRed;

					.team-item__label{
						.active{
							opacity: 1;
						}
					}
				}
			}


			&-person{
				@include pxToRem(width, 370);
				@include pxToRem(height, 710);
				position: relative;
				float: left;
				@include pxToRem(margin, 120, 0, 0);

				img{
					width: 100%;
					height: 100%;
					display: block;
					position: relative;
					z-index: 2;

					&.layer{
						//@include breakpoint( 0 $bpFP - 1px ){
						.is-mobile &{
							@include transform(none!important);
						}
					}
				}

				&_bg{
					@include pxToRem(width, 520);
					@include pxToRem(height, 520);
					position: absolute;
					@include pxToRem(top, -180);
					left: 0;
					z-index: 1;
				}
			}


			&-info{
				@include pxToRem(margin, 20, 20);
				color: $colorText;
				position: relative;
				z-index: 1;

				.is-desktop &{
					//@include breakpoint($bpFP){
					float: left;
					@include pxToRem(margin, 300, 0, 0, 110);
					@include pxToRem(width, 340);
				}

				&__title{
					font-size: 34px;
					font-weight: 500;
					@include pxToRem(margin-bottom, 15);

					//@include breakpoint($bpD $bpFP - 1px){
					.is-mobile &{
						margin-left: 460px;
						margin-top: 145px;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 24);
					}
				}

				&__text{
					font-weight: 300;
					@include pxToRem(margin-bottom, 15);
					font-size: 34px;

					//@include breakpoint($bpD $bpFP - 1px){
					.is-mobile &{
						margin-left: 460px;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(font-size, 16);
						line-height: 1.5;
					}
				}

				&__icons{
					@include pxToRem(margin-left, -15);

					//@include breakpoint($bpD $bpFP - 1px){
					.is-mobile &{
						margin-left: 440px;
					}

					i{
						display: inline-block;
						@include pxToRem(margin-right, 15);
					}

					img{
						display: block;
						width: 110px;
						height: 110px;

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(width, 80);
							@include pxToRem(height, 80);
						}
					}
				}
			}
		}
	}
	&_instagram{ 
		color: $colorBlue;
	}
	&_faq{ 
		color: $colorGreen;
		background: #f5f5f5;
	}

	&__inner{
		@include pxToRem(padding, 20);
		height: 100%;
		@include box-sizing();

		@extend %clearfix;
	}

	&__aside{
		background: currentColor;
		position: relative;

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include transition();
			@include pxToRem(width, 500);
			height: 100%;
			float: left;
			@include pxToRem(margin-left, 120);
		}

	}

	&__content{
		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(margin-left, 640);
			height: 100%;
			opacity: 0;
		}

		//@include transition(opacity .3s ease 0);

	}

	&.active{
		.section__content{
			opacity: 1;
			//@include transition(opacity .5s ease .5s);
		}
	}
}

.aside{

	&-head{

		@include pxToRem(padding, 25, 20);
		position: absolute;
		@include pxToRem(font-size, 19);
		top:0;
		left: 0;
		width: 100%;
		@include box-sizing();
		color: #fff;
		display: none;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: block;
		}

		&__location{

			float: left;

			&:before{
				content: '';
				@include pxToRem(width, 14);
				@include pxToRem(height, 19);
				vertical-align: middle;
				display: inline-block;
				@include backgroundImg('/img/ico-location.svg');
				@include pxToRem(margin-right, 14);
				position: relative;
				@include pxToRem(top, -2);
			}
		}

		&__phone{

			float: right;
			cursor: pointer;

			&:after{
				content: '';
				@include pxToRem(width, 18);
				@include pxToRem(height, 18);
				vertical-align: middle;
				display: inline-block;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image: url('/img/ico-arrow-in-round.svg');
				@include pxToRem(background-size, 22, 22);
				@include pxToRem(-webkit-background-size, 22, 22);
				@include pxToRem(margin-left, 14);
				position: relative;
				@include pxToRem(top, -2);
				@include border-radius(50%);
				@include transition();
			}


			&:hover{
				&:after{
					content: '';
					@include pxToRem(width, 22);
					@include pxToRem(height, 22);
					@include pxToRem(margin-left, 12);
					@include pxToRem(margin-right, -2);
					position: relative;
					@include pxToRem(top, -2);
				}
			}
		}

		&__contact{

			display: none;
			@include pxToRem(width, 350);
			background: #fff;
			text-align: left;
			position: absolute;
			top: 0;
			left: 100%;
			color: $colorText;
			z-index: 15;
			@include pxToRem(padding, 40, 30, 30, 30);
			@include box-sizing();
			@include box-shadow(0 3px 50px rgba(#000, .05));
			@include transition();

			.show-call &{
				display: block;
			}

			.btn{
				background: $colorGreen;
				display: block;
				@include pxToRem(line-height, 38);
				@include pxToRem(height, 40);
				@include pxToRem(margin-bottom, 25);
				@include pxToRem(width, 245);
			}

			.close{
				@include pxToRem(width, 40);
				@include pxToRem(height, 40);
				position: absolute;
				cursor: pointer;
				@include pxToRem(top, 30);
				@include pxToRem(right, 20);
				background: #fff url("/img/close.svg") no-repeat 50% 50%;
				@include pxToRem(background-size, 18, 18);
				@include pxToRem(-webkit-background-size, 18, 18);
				@include border-radius(50%);
				@include transition();


				&:hover{
					opacity: 0.8;
					background: $colorGreen url("/img/close_white.svg") no-repeat 50% 50%;
					@include pxToRem(background-size, 18, 18);
					@include pxToRem(-webkit-background-size, 18, 18);
				}
			}

			.text{
				@include pxToRem(margin-right, 30);
				@include pxToRem(margin-bottom, 20);
				@include pxToRem(font-size, 16);
				font-weight: 300;
			}

			.call{

				&-list{
					font-size: 0;
				}

				&-item{
					@include pxToRem(margin-right, 10);
					display: inline-block;
					@include pxToRem(width, 60);
					@include pxToRem(height, 60);
					@include border-radius(50%);
					background-color: $colorGreen;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: contain;
					-webkit-background-size: contain;

					&:hover{
						opacity: 0.8;
					}

					&_tg{
						background-image: url("/img/ico-call_tg.svg");
					}
					&_vb{
						background-image: url("/img/ico-call_vb.svg");
					}
					&_wu{
						background-image: url("/img/ico-call_wu.svg");
					}
				}
			}
		}
	}

	&-midd{
		color: #fff;
		height: 100%;
		font-size: 0;
		text-align: center;


		.section_welcome & { background: $colorGreen; }
		.section_feature & { background: $colorRed; }
		.section_balance & { background: $colorOrange; }
		.section_example & { background: $colorGreen; }
		.section_calculate & { background: $colorOrange;}
		.section_feedback & { background: $colorBlue;}
		.section_team & { background: $colorRed; }
		.section_instagram & { background: $colorBlue;}
		.section_faq & { background: $colorGreen;}

		&:after{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		&__inner{
			@include pxToRem(font-size, 21);
			vertical-align: middle;
			display: inline-block;
			width: 80%;
			@include pxToRem(padding, 30, 0);


			.logo{

				img{
					@include pxToRem(width, 280);
					@include pxToRem(height, 220);
				}
			}
			.title{
				font-weight: 500;
				@include pxToRem(margin, 15, 0);
				font-size: 56px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 40);
				}
			}
			.text{
				line-height: 1.375;
				font-weight: 300;
				@include pxToRem(margin, 15, 0);

				font-size: 34px;
				display: none;

				.section_welcome &{
					display: block;
				}

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 21);
					display: block;
				}
			}
		}
	}

	&-foot{
		@include pxToRem(padding,30, 20);
		position: absolute;
		bottom:0;
		left: 0;
		width: 100%;
		@include box-sizing();
		display: none;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: block;
		}

		&__order{
			float: left;

			.btn{
				@include pxToRem(height, 45);
				@include pxToRem(line-height, 41);
				background:#fff;
				display: inline-block;
				border-color: #fff;
				text-align: center;
				@include border-radius(100rem);
				color: inherit;
				@include pxToRem(width, 195);
				@include box-shadow(0 0 0 0 #fff);
				@include transition();

				&:hover{
					opacity: 1;
					@include box-shadow(0 0 0 0.125rem #fff);
				}
			}

		}

		&__soc{
			float: right;

			.soc{

				&-list{
					font-size: 0;
				}

				&-item{

					background-repeat: no-repeat;
					background-position: 50% 50%;
					//@include pxToRem(background-size, 49, 49);
					//@include pxToRem(-webkit-background-size, 49, 49);
					@include pxToRem(width, 45);
					@include pxToRem(height, 45);
					@include background-size();
					display: inline-block;
					@include pxToRem(margin-left, 10);
					//@include border-radius(50%);
					@include transition();

					&:hover{
						@include pxToRem(width, 49);
						@include pxToRem(height, 49);
						@include pxToRem(margin, -2, -2, -2, 8);
					}

					&_ig{
						background-image: url("/img/ico-soc_ig.svg");
					}

					&_vk{
						background-image: url("/img/ico-soc_vk.svg");
					}

					&_fb{
						background-image: url("/img/ico-soc_fb.svg");
					}
				}
			}
		}
	}
}




.isg-text{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top:3px;
	margin: 0 0 0 7px;
	width: 231px;


	.is-desktop &{
		//@include breakpoint($bpFP){
		@include pxToRem(top, 2);
		@include pxToRem(width, 193);
		@include pxToRem(margin, 0, 0, 0, 7);
	}

}

.instagram{

	&-list{
		font-size: 0;
		margin: 10px -10px;

		.is-desktop &{
			//@include breakpoint($bpFP){
			height: calc(100% + 1.25rem);
			@include pxToRem(margin, -10);
		}
	}

	&-item{
		display: inline-block;
		@include pxToRem(padding, 10);
		@include box-sizing();
		width: 33.3333%;
		height: 350px;

		.is-desktop &{
			//@include breakpoint($bpFP){
			width: 25%;
			height: (100%/3);
		}

		span{
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover;
			-webkit-background-size: cover;
		}
	}
}


.faq{

	margin: 40px 10px 80px;

	.is-desktop &{
		//@include breakpoint($bpFP){
		@include pxToRem(margin, 50);
	}

	&-list{
		@include pxToRem(margin-bottom, 110);
	}

	&-item{
		&__q{
			font-size: 48px;
			color: $colorText;
			font-weight: 500;
			@include pxToRem(margin, 35, 0, 30);

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(font-size, 24);
				@include pxToRem(margin, 35, 0, 20);
			}

		}

		&__a{
			font-size: 34px;
			color: $colorText;
			font-weight: 300;
			padding-left: 90px;
			position: relative;
			@include pxToRem(margin-bottom, 25);

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(font-size, 16);
				@include pxToRem(padding-left, 45);
				@include pxToRem(margin-bottom, 15);
			}

			&:before{
				content: '';
				display: block;
				height: 74px;
				width: 72px;
				background: url("/img/ico-feedback_a.svg") no-repeat 50% 50%;
				background-size: contain;
				-webkit-background-size: contain;
				position: absolute;
				@include pxToRem(top, -11);
				left: -5px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					left: 0;
					@include pxToRem(height, 37);
					@include pxToRem(width, 36);
				}
			}

		}
	}


	&-feedback{

	}

	&-title{
		font-size: 48px;
		@include pxToRem(margin-bottom, 35);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(font-size, 24);
		}
	}




	&-form{


		::-webkit-input-placeholder {color:$colorText;}
		::-moz-placeholder          {color:$colorText;}
		:-moz-placeholder           {color:$colorText;}
		:-ms-input-placeholder      {color:$colorText;}

		&__col{

			.is-desktop &{
				//@include breakpoint($bpFP){
				float: left;
				@include pxToRem(margin-right, 30);
				@include pxToRem(width, 405);
			}

			&_submit{
				.is-desktop &{
					margin-right: 0;
					@include pxToRem(padding-top, 71);
					display: inline-block;
					@include pxToRem(width, 270);
				}

				.btn{
					width: 100%;
					background: $colorGreen;
					border: none;
				}
			}
		}

	}
}



.form{

	::-webkit-input-placeholder {color:$colorText;}
	::-moz-placeholder          {color:$colorText;}
	:-moz-placeholder           {color:$colorText;}
	:-ms-input-placeholder      {color:$colorText;}

	&-field{
		font-size: 34px;
		color: $colorText;
		@include pxToRem(margin-bottom, 20);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(font-size, 16);
		}

		/*&.success{
			input,
			textarea {
				border-color: $colorGreen;
			}
		}*/


		input,
		textarea {
			border-color: $colorText;
		}

		&.filled{
			input,
			textarea {
				border-color: $colorGreen;
			}
		}
		&.error{
			input,
			textarea {
				border-color: $colorError;
				color: $colorError;
			}
		}
	}

	&-placeholder{

	}

	&-label{
		color: $colorText;
		@include pxToRem(margin-bottom, 12);
	}

	&-item{

		position: relative;

		.placeholder{
			position: absolute;
			@include pxToRem(top, 15);
			@include pxToRem(left, 20);
			@include transition();
			background: #f5f5f5;
			@include border-radius(100rem);
			@include pxToRem(padding, 3, 7);
			border: solid $colorText;
			line-height: 1;
		}

		input,
		textarea {
			font: inherit;
			display: block;
			border: solid $colorText;
			color: $colorText;
			line-height: 1;
			@include pxToRem(border-width, 3);
			background: transparent;
			position: relative;
			z-index: 1;
			@include pxToRem(padding, 15, 25);
			@include border-radius(2rem);
			resize: none;
			overflow: hidden;
			width: 100%;
			@include box-sizing();

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(border-width, 2);
			}

			&:focus{

				& + .placeholder{
					@include pxToRem(top, -11);
					@include pxToRem(left, 17);
					border-color: $colorText;
					@include pxToRem(font-size, 14);
					z-index: 2;
				}
			}
		}

		input.btn{
			@extend %extend_btn;
			background: $colorGreen;
			padding-top: 0;
			padding-bottom: 0;
			border-color: $colorGreen;
		}

		textarea{
			@include pxToRem(height, 132);
		}
	}

}



.tabs{

	//@include breakpoint(0 $bpFP - 1px){
	.is-mobile &{
		overflow: hidden;
		margin: 0 -30px;
	}

	&-list{
		font-size: 0;

		//.touchevents &{
		//}


		//@include breakpoint(0 $bpFP - 1px){
		.is-mobile &{
			white-space: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			margin-bottom: -20px;
			padding: 0 30px 20px;
		}
	}

	&-item{
		background: transparent;
		border-style:solid;
		@include pxToRem(height, 90);
		@include pxToRem(padding, 0, 50);
		@include pxToRem(line-height, 84);
		@include pxToRem(font-size, 34);
		@include pxToRem(margin-right, 20);
		@include pxToRem(border-width, 3);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(height, 40);
			@include pxToRem(padding, 0, 30);
			@include pxToRem(line-height, 36);
			@include pxToRem(font-size, 16);
			@include pxToRem(margin-right, 10);
			@include pxToRem(border-width, 2);
		}

		.section_feedback &{
			border-color: $colorBlue;
			color: $colorBlue;

			&.active{
				background: $colorBlue;
			}
		}

		.section_balance &{
			border-color: $colorOrange;
			color: $colorOrange;

			&.active{
				background: $colorOrange;
			}

			margin-bottom: 47%;
			.is-desktop &{
				//@include breakpoint($bpFP){
				margin-bottom: 0;
			}
		}

		.section_example &{
			border-color: $colorGreen;
			color: $colorGreen;

			&.active{
				background: $colorGreen;
			}
		}

		&.active{
			color: #fff;
		}
	}

	&-target{
		display: none;

		&.active{
			display: block;
		}
	}

	.section_feedback &{

		@include pxToRem(margin, 80, -10, 65);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(margin, 80, 50, 65);
		}
	}

	.section_example &{
		@include pxToRem(margin, 75, -10, 60);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(margin, 30, 50, 60);
		}
	}

}

