.header{
	height: 130px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: $colorGreen;
	z-index: 50;
	min-width: $minWidthScreen;

	.clr_welcome &{ background: $colorGreen;}
	.clr_feature &{ background: $colorRed;}
	.clr_balance &{ background: $colorOrange;}
	.clr_example &{ background: $colorGreen;}
	.clr_calculate &{ background: $colorOrange;}
	.clr_feedback &{ background: $colorBlue;}
	.clr_team &{ background: $colorRed;}
	.clr_instagram &{ background: $colorBlue;}
	.clr_faq &{ background: $colorGreen;}


	.is-desktop &{
		//@include breakpoint($bpFP){
		display: none;
	}


	&-handler{
		width: 100px;
		height: 100px;
		position: absolute;
		top:14px;
		left: 8px;
		background: url("/img/menu-open.svg") no-repeat 50% 50%;
		cursor: pointer;

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top:100%;
			left: 0;
			background: transparent;
			display: block;
		}

		._menu &{
			background-image: url("/img/menu-close.svg");
		}

	}

	&-logo{
		height: 70px;
		position: absolute;
		top:31px;
		left: 119px;

		cursor: pointer;

		width: 264px;
		background: url("/img/_realfood.svg") no-repeat 50% 50%;
		margin: 0 40px;


	}

	&-btn{
		position: absolute;
		top:20px;
		right: 20px;

		.btn{
			color: $colorGreen;
			background: #fff;
			padding: 0 40px;

			.clr_welcome &{ color: $colorGreen;}
			.clr_feature &{ color: $colorRed;}
			.clr_balance &{ color: $colorOrange;}
			.clr_example &{ color: $colorGreen;}
			.clr_calculate &{ color: $colorOrange;}
			.clr_feedback &{ color: $colorBlue;}
			.clr_team &{ color: $colorRed;}
			.clr_instagram &{ color: $colorBlue;}
			.clr_faq &{ color: $colorGreen;}
		}
	}
}

._menu{
	overflow: hidden;
	position: fixed;
}

.nav{

	//@include pxToRem(width, 165);

	top: 130px;
	left: 0;
	bottom: 0;
	@include pxToRem(padding-top, 20);
	z-index: 99;
	position: fixed;
	background: #fff;
	@include transition();

	//@include breakpoint(0 $bpFP - 1px){
	.is-mobile &{

		overflow: auto;
		max-width: 0;
	}


	.is-mobile._menu &{
		max-width: 826px;
	}

	.is-desktop &{
		//@include breakpoint($bpFP){
		display: block;
		position: absolute;
		@include pxToRem(width, 100);
		@include pxToRem(top, 20);
		@include pxToRem(left, 20);
		@include pxToRem(bottom, 20);

		&:hover{
			@include pxToRem(width, 300);
		}

	}

	&-logo{
		@include pxToRem(width, 100);
		display: none;

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: block;
		}

		i{
			display: block;
			margin:0 auto;
			@include pxToRem(margin-bottom, 4);

			svg{
				width: 100%;
				height: 100%;
				fill: currentColor;
				@include transition();
			}
		}

		&__real{
			@include pxToRem(width, 62);
			@include pxToRem(height, 36);
		}
		&__food{
			@include pxToRem(width, 69);
			@include pxToRem(height, 35);
		}
	}

	&-list{
		overflow: hidden;
	}

	&-item{


		&_feature{
			//@include breakpoint(0 $bpFP - 1px){
			.is-mobile &{
				display: none;
			}
		}

		&__link{
			display: block;
			white-space: nowrap;
			width: 480px;

			.is-desktop &{
				//@include breakpoint($bpFP){
				width: auto;
				&:hover{
					.nav-item__ico .act{
						opacity: 1;
					}
					.nav-item__text{
						color: currentColor;
					}
				}
			}
		}

		&__text{
			color: $colorText;
			display: inline-block;
			//vertical-align: top;
			vertical-align: middle;
			font-weight: 300;
			@include transition();
			white-space: normal;
			padding-right: 100px;
			@include box-sizing();

			font-size: 34px;

			margin-top: 20px;
			margin-bottom: 30px;

			//@include breakpoint($bpD $bpFP - 1px){
			//	margin-top: 30px;
			//}

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(padding-right, 15);
				@include pxToRem(width, 200);
				@include pxToRem(font-size, 16);
				vertical-align: middle;
				margin-top: 0;
				margin-bottom: 0;
			}

		}

		&__ico{
			@include pxToRem(width, 80);
			@include pxToRem(margin, 10);
			@include pxToRem(height, 60);
			display: inline-block;
			text-align: center;
			//vertical-align: top;
			vertical-align: middle;
			@include transition(width);
			position: relative;


			//@include breakpoint($bpD $bpFP - 1px){
			.is-mobile &{
				width: 115px;
				height: 85px;
				margin: 10px 20px 10px 30px;
			}

			.is-desktop &{
				//@include breakpoint($bpFP){
				vertical-align: middle;
			}

			img{
				@include transition();
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 0;
				display: block;

				&.act{
					opacity: 0;
				}
			}
		}

		&.active{
			.nav-item__ico{
				.act{
					opacity:1;
				}
			}
			.nav-item__text{
				color: currentColor;
			}
		}
	}




	&-mobile{

		color: $colorText;
		font-size: 34px;
		display: none;

		._menu &{
			display: block;
		}

		.is-desktop &{
			//@include breakpoint($bpFP){
			display: none;
		}

		&__soc{
			margin-bottom: 40px;
			margin-top: 20px;
			background: $colorGreen;
			padding: 40px 30px;
			font-size: 0;

			.soc{

				&-item{
					display: inline-block;
					width: 90px;
					height: 90px;
					background-repeat: no-repeat;
					background-position: 50% 50%;

					@include background-size();

					margin-right: 20px;


					&_ig{
						background-image: url("/img/ico-soc_ig.svg");
					}

					&_vk{
						background-image: url("/img/ico-soc_vk.svg");
					}

					&_fb{
						background-image: url("/img/ico-soc_fb.svg");
					}
				}
			}
		}

		&__contact{

			padding: 0 30px;

			hr{
				background-color: #b19f83;
				height: 1px;
				display: block;
				border: none;
				box-shadow: none;
				margin: 45px -30px;
			}

			&-phone{
				font-size: 48px;
				margin: 30px 0;
			}

			&-mail{
				font-size: 48px;
				margin: 30px 0;
			}

			&-order{
				margin: 30px 0;

				.btn{
					background-color: $colorGreen;
					border-color: $colorGreen;
					display: block;
				}
			}

			&-call{
				margin: 30px 0;
				.call{

					&-list{
						font-size: 0;
					}

					&-item{
						margin-right: 20px;
						display: inline-block;
						width: 90px;
						height: 90px;
						@include border-radius(50%);
						background-color: $colorGreen;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
						-webkit-background-size: contain;

						&:hover{
							opacity: 0.8;
						}

						&_tg{
							background-image: url("/img/ico-call_tg.svg");
						}
						&_vb{
							background-image: url("/img/ico-call_vb.svg");
						}
						&_wu{
							background-image: url("/img/ico-call_wu.svg");
						}
					}
				}
			}

			&-text{
				margin: 30px 0;
			}

			&-form{

				.form-field{
					margin-bottom: 30px;
				}

				.form-item {

					input{
						font-size: 34px;
						line-height: 90px;
						height: 90px;
						border-width: 3px;
						@include border-radius(100px);
						padding: 0 50px;
					}

					.btn{
					}
				}
			}

		}

		&__footer{
			background: #b19f83;
			color: #fff;
			font-size: 34px;
			padding: 30px;

			&-text{
				margin: 30px 0;

				i{
					display: inline-block;
					width: 42px;
					height: 42px;
					border: 3px solid #fff;
					@include border-radius(100px);
					font-size: 20px;
					line-height: 42px;
					text-align: center;
					font-style: normal;
				}
			}
		}
	}
}