body.overflow_hidden{
	overflow: hidden!important;

	.ios &{
		position: fixed;

		.wrapper{
			opacity: 0;
		}
	}
}

.popup{
	display: none;
	color: $colorText;
	font-size: 0;

	&-inner{
		bottom: 0;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		right: 0;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		min-width: $minWidthScreen;

		//@include breakpoint($bpM){min-width: $bpM;}
		//@include breakpoint($bpT){min-width: $bpT;}
		//@include breakpoint($bpC){min-width: $bpC;}
		//@include breakpoint($bpD){min-width: $bpD;}
		//@include breakpoint($bpFP){min-width: $bpFP;}
	}


	&-layout{
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 530px;
		z-index: 102;
		@include box-sizing();
		max-width: 96%;
		@include pxToRem(font-size, 16);
		//
	}
	&-close{
		@include pxToRem(width, 40);
		@include pxToRem(height, 40);
		position: absolute;
		cursor: pointer;
		@include pxToRem(top, 30);
		@include pxToRem(right, 30);
		background: #fff url("/img/close.svg") no-repeat 50% 50%;
		@include pxToRem(background-size, 18, 18);
		@include pxToRem(-webkit-background-size, 18, 18);
		@include border-radius(50%);
		@include transition();
		z-index: 3;


		&:hover{
			opacity: 0.8;
			background: $colorGreen url("/img/close_white.svg") no-repeat 50% 50%;
			@include pxToRem(background-size, 18, 18);
			@include pxToRem(-webkit-background-size, 18, 18);
		}
	}
	&-overlay{
		background-color: rgba(0, 0, 0, 0.75);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

	&-title{
		font-weight: 500;
		font-size: 48px;
		@include pxToRem(margin-bottom, 10);

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(font-size, 30);
		}
	}
	&-text{
		font-weight: 300;
		font-size: 34px;

		.is-desktop &{
			//@include breakpoint($bpFP){
			@include pxToRem(font-size, 16);
		}
	}


	&_feedback{

		.popup-layout{
			@include pxToRem(width, 480);
		}
		.popup-head{
			background: $colorGreen;
			color: #fff;
			@include pxToRem(padding, 30, 50, 25);
		}

		.popup-close{
			//background-image: url("/img/close_white.svg");
		}

		.popup-content{
			text-align: left;
			@include pxToRem(padding, 30, 80);
		}
	}


	&_share{

		.popup-layout{
			@include pxToRem(width, 540);
		}
		.popup-head{
			background: $colorGreen;
			color: #fff;
			@include pxToRem(padding, 30, 50, 25);
		}

		.popup-close{
			//background-image: url("/img/close_white.svg");
		}

		.popup-content{
			text-align: left;
			@include pxToRem(padding, 30, 100);
			border-bottom: 1px solid #d6d1ca;

			&__text{
				text-align: center;
				@include pxToRem(font-size, 16);
				line-height: 1.5;
			}
		}

		.popup-share{

			&__list{
				@include pxToRem(margin-top, 30);
			}

			&__item{
				@include pxToRem(height, 60);
				@include pxToRem(line-height, 60);
				@include pxToRem(font-size, 18);
				color: #fff;
				display: block;
				text-decoration: none;
				@include pxToRem(padding, 0, 0, 0, 80);
				@include border-radius(100rem);
				position: relative;
				@include pxToRem(margin-bottom, 10);

				&:before{
					content: '';
					display: block;
					@include pxToRem(width, 45);
					@include pxToRem(height, 45);
					background: no-repeat 50% 50%;
					background-size: contain;
					position: absolute;
					@include pxToRem(top, 7);
					@include pxToRem(left, 9);
				}


				&_vk{
					background: #507299;
					&:before{
						background-image: url("/img/ico-soc_vk.svg");
					}
				}
				&_fb{
					background: #3b5998;
					&:before{
						background-image: url("/img/ico-soc_fb.svg");
					}
				}
				&_ok{
					background: #ee8208;
					margin-bottom: 0;
					&:before{
						background-image: url("/img/ico-soc_ok.svg");
					}
				}
			}

			&__btn{

				.btn{
					background: $colorGreen;
					text-align: center;
					display: block;
					border-color: $colorGreen;
				}
			}
		}
	}


	&_info{

		.popup-layout{
			@include pxToRem(width, 730);
		}
		.popup-content{
			@include pxToRem(padding, 90, 50, 80);
		}
		.popup-title{
			color: $colorGreen;
			@include pxToRem(margin-bottom, 20);
		}
		.popup-text{
			@include pxToRem(margin-bottom, 25);
		}

		.btn{
			background: $colorGreen;
			width: 100%;

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(width, 270);
			}
		}
	}

	&_text{

		.popup-layout{
			max-width: 90%;
			@include pxToRem(width, 1000);
		}

		.popup-content{
			@include pxToRem(padding, 90, 50, 80);
		}
		.popup-title{
			color: $colorGreen;
			@include pxToRem(margin-bottom, 20);
		}
		.popup-text{
			@include pxToRem(margin-bottom, 25);
			text-align: left;

			p{
				@include pxToRem(margin-bottom, 20);
			}

			h2,
			h3 {
				@include pxToRem(margin-bottom, 30);
			}
		}

		.btn{
			background: $colorGreen;
			width: 100%;

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(width, 270);
			}
		}
	}


	&_order{

		.popup-layout{
			width: auto;
			position: relative;
			display: none;

			//@include breakpoint(0 $bpFP - 1px){
			.is-mobile &{
				padding-bottom: 160px;
				width: 100%;
				max-width: 100%;

				.ios &{
					padding-bottom: 0px;
				}
			}
		}

		.popup-close{
			@include pxToRem(top, 20);

			//@include breakpoint(0 $bpFP - 1px){
			.is-mobile &{
				width: 100px;
				height: 100px;
				top: 8px;
				right: 16px;
				background: url("/img/menu-close.svg") no-repeat 50% 50%;
			}
		}

		.popup-aside{
			@include pxToRem(width, 290);
			position: absolute;
			top:0;
			left: 0;
			height: 100%;
			overflow: hidden;
			@include transition();
			display: none;

			.is-desktop &{
				//@include breakpoint($bpFP){
				display: block;
			}


			img{
				width: 100%;
				display: block;
			}


			.btn{
				position: absolute;
				z-index: 10;
				background: #fff;
				@include pxToRem(padding, 0, 10);
				@include pxToRem(top, 27);
				@include pxToRem(left, 30);
				white-space: nowrap;
				@include pxToRem(height, 40);
				@include pxToRem(line-height, 36);
				color: $colorGreen;
				@include pxToRem(border-width, 2);
				border-color: $colorGreen;
				opacity: 0;
				@include transition();

				&:hover{
					opacity: 1;
					color: #fff;
					background: $colorGreen;
				}
			}
		}

		.form{

			&-field{
				position: relative;
				&.error{
					.form-error{
						display: block;
					}
				}



				&_address{

					&_1{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(width, 185);
							@include pxToRem(margin-right, 10);
						}
					}
					&_2{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(width, 455);
						}
					}
					&_3{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(margin-right, 10);
							@include pxToRem(width, 110);
						}
					}
					&_4{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(margin-right, 10);
							@include pxToRem(width, 130);
						}
					}
					&_5{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(margin-right, 10);
							@include pxToRem(width, 130);
						}
					}
					&_6{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(margin-right, 10);
							@include pxToRem(width, 110);
						}
					}
					&_7{
						width: 100%;
						.is-desktop &{
							//@include breakpoint($bpFP){
							float: left;
							@include pxToRem(width, 130);
						}
					}
					&_8{

					}
				}



			}

			&-error{
				position: absolute;
				display: none;
				color: $colorError;

				font-size: 24px;
				top: 30px;
				right: 30px;
				z-index: 1;
				background: #fff;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 14);
					@include pxToRem(top, 12);
					@include pxToRem(right, 20);
				}
			}

			&-item{
				input{
					height: 90px;
					line-height: 90px;
					font-size: 34px;
					padding: 0 50px;
					@include border-radius(20rem);

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(height, 40);
						@include pxToRem(line-height, 40);
						@include pxToRem(font-size, 16);
						@include pxToRem(padding, 0, 27);
					}
				}
			}
		}

		.popup-content{
			@include pxToRem(padding, 30, 40);
			@include box-sizing();
			text-align: left;
			@include transition();

			.is-desktop &{
				//@include breakpoint($bpFP){
				@include pxToRem(width, 730);
				@include pxToRem(margin-left, 290);
			}

			a{
				color: $colorGreen;
				text-decoration: underline;
			}
		}

		&.step-1{
			.popup-layout_step_1{
				display: inline-block;
			}
		}
		&.step-2{
			.popup-layout_step_2{
				display: inline-block;

				.popup-aside{
					&:hover{
						@include pxToRem(width, 710);

						& + .popup-content{
							@include pxToRem(margin-left, 710);
						}

						.btn{
							opacity: 1;
						}
					}
				}
			}
		}
		&.step-map{
			height: 100%;
			.popup-layout_step_map{
				display: inline-block;
				height: 100%;
				padding: 0;
				.orderMap{
					position: absolute!important;
					top:0;
					left: 0;
					right: 0;
					bottom: 0;
				}

				.btn{
					position: relative;
					z-index: 1;
					top: 0;
					background: #fff;
					line-height: 1.2;
					font-size: 34px;
					color: $colorGreen;
					padding: 15px 25px;
					@include border-radius(15px);
					border: 3px solid $colorGreen;
					height: auto;
					text-align: left;
				}
			}
		}





		#orderMap{
			position: absolute;
			top:0;
			left: 0;
			//@include pxToRem(width, 710);
			width: 100%;
			height: 100%;
		}



		.order{
			color: $colorText;

			.btn{

				border-color: $colorGreen;
				height: 90px;
				line-height: 84px;
				font-size: 34px;
				color: $colorGreen;
				@include pxToRem(padding, 0, 30);
				@include pxToRem(margin-right, 5);

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(height, 40);
					@include pxToRem(line-height, 36);
					@include pxToRem(font-size, 16);
				}


				&.active{
					background: $colorGreen;
					color: #fff;
					opacity: 1!important;
				}

				&.disable{
					color: #d8c7ae;
					border-color: #d8c7ae;
					cursor: default;
					opacity: 1!important;
				}
			}

			&-back{

				font-size: 34px;
				font-weight: 400;
				height: 90px;
				line-height: 90px;
				padding: 0 35px;
				display: inline-block;
				color: $colorGreen;

				@include border-radius(100rem);
				cursor: pointer;
				vertical-align: middle;
				position: relative;
				@include pxToRem(top, -3);
				background: #fff;
				@include transition();
				@include pxToRem(margin, -15, 20, -15, -20);

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(height, 40);
					@include pxToRem(line-height, 40);
					@include pxToRem(font-size, 16);
					@include pxToRem(padding, 0, 20);
					@include pxToRem(margin, 0, 20, 0, -20);
				}

				&:before{
					content: '';
					display: inline-block;
					width: 16px;
					height: 26px;
					background: url("/img/arrow-back_m.svg") no-repeat 50% 50%;
					background-size: contain;
					-webkit-background-size: contain;
					vertical-align: middle;
					@include pxToRem(margin-right, 8);
					position: relative;
					top: -3px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						background: url("/img/arrow-back.svg") no-repeat 50% 50%;
						width: 10px;
						height: 10px;
						@include pxToRem(top, -2);
					}
				}

				&:hover{
					color: #fff;
					background: $colorGreen;
					&:before{
						background-image: url("/img/arrow-back_white_m.svg");

						.is-desktop &{
							//@include breakpoint($bpFP){
							background-image: url("/img/arrow-back_white.svg");
						}
					}
				}

			}

			&-title{
				color: $colorText;
				font-weight: 500;
				@include pxToRem(font-size, 30);
				@include pxToRem(margin-bottom, 15);

				//@include breakpoint(0 $bpFP - 1px){
				.is-mobile &{
					color: #fff;
					font-size: 48px;
					background: $colorGreen;
					margin: -30px -40px 30px;
					padding: 30px 40px;
					position: relative;
					z-index: 2;
				}
			}

			&-subtitle{
				color: $colorGreen;
				font-weight: 500;
				font-size: 48px;
				margin-bottom: 40px;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 24);
					@include pxToRem(margin-bottom, 15);
				}

			}

			&-text{
				font-size: 34px;
				margin-bottom: 40px;
				font-weight: 300;

				.is-desktop &{
					//@include breakpoint($bpFP){
					@include pxToRem(font-size, 14);
					@include pxToRem(margin-bottom, 15);
				}
			}

			&-field{
				@include pxToRem(margin-bottom, 15);


				&_slide{
					//@include breakpoint(0 $bpFP - 1px){
					.is-mobile &{
						overflow: hidden;
						margin: 0 -30px 20px;
					}
				}

				&__wrap{
					//@include breakpoint(0 $bpFP - 1px){
					.is-mobile &{
						white-space: nowrap;
						overflow-x: auto;
						overflow-y: hidden;
						-webkit-overflow-scrolling: touch;
						margin-bottom: -20px;
						padding: 0 30px 20px;
					}
				}



				&_checkbox{
					margin-top: 40px;
					margin-bottom: 45px;

					.is-desktop &{
						//@include breakpoint($bpFP){
						@include pxToRem(margin-top, 30);
						@include pxToRem(margin-bottom, 25);
					}

					input{
						opacity: 0;
						position: absolute;

						&:checked{

							& + label{
								&:before{
									border-color: $colorGreen;
									background: $colorGreen url("/img/checkbox.svg") no-repeat 50% 50%;
									@include pxToRem(background-size, 29, 20);
									@include pxToRem(-webkit-background-size, 29, 20);

									.is-desktop &{
										//@include breakpoint($bpFP){
										@include pxToRem(background-size, 19, 13);
										@include pxToRem(-webkit-background-size, 19, 13);
									}
								}
							}
						}
					}

					label{
						cursor: pointer;
						font-size: 34px;
						font-weight: 400;
						padding-left: 90px;
						position: relative;
						display: block;

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(font-size, 16);
							@include pxToRem(padding-left, 45);
						}

						&:before{
							content: '';
							display: inline-block;
							border: $colorText solid;
							@include pxToRem(border-width, 3);
							width: 55px;
							height: 55px;
							@include border-radius(0.3rem);
							position: absolute;
							@include pxToRem(top,-6);
							left: 0;

							.is-desktop &{
								//@include breakpoint($bpFP){
								@include pxToRem(border-width, 2);
								@include pxToRem(width, 26);
								@include pxToRem(height, 26);
							}
						}
					}
				}

				&_textarea{
					textarea{
						border-style: solid;
						border-width: 3px;
						width: 100%;
						height: 350px;
						@include box-sizing();
						resize: none;
						@include border-radius(1.3rem);
						font: inherit;
						@include pxToRem(padding, 15, 20);

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(height, 135);
							@include pxToRem(width, 645);
							@include pxToRem(border-width, 2);
						}
					}
				}

				&_price{
					float: left;
					margin-bottom: 0;

					.price-day{
						@include pxToRem(font-size, 16);
						@include pxToRem(margin, 5, 0);
					}
					.price-all{
						color: $colorGreen;
						font-weight: 500;
						@include pxToRem(font-size, 30);
					}
				}

				&_submit{
					float: right;
					margin-bottom: 0;

					.btn{
						@include pxToRem(height, 60);
						@include pxToRem(line-height, 60);
						border: 0;
						@include pxToRem(width, 270);
						background: $colorGreen;
						color: #fff;
						@include pxToRem(font-size, 18);
						@include pxToRem(margin-bottom, 10);
					}

					.footnote{
						text-align: center;
						@include pxToRem(font-size, 14);
					}
				}

				&_range{

					.filter{

						&-field{


							&_slider{
								.i-time{
									background: #fff!important;
								}

								.slider{

									&-input{
										white-space: nowrap;
										opacity: 0;
										position: absolute;
										display: none;
									}

									&-line{
										position: relative;
										height: 46px;
										@include pxToRem(margin, 50, 50, 90);

										.is-desktop &{
											//@include breakpoint($bpFP){
											@include pxToRem(height, 16);
											@include pxToRem(margin, 30, 25, 45);
										}

										&__bg{
											background: #fff;
											position: absolute;
											@include pxToRem(top, -2);
											@include pxToRem(bottom, -2);
											@include pxToRem(left, -25);
											@include pxToRem(right, -25);
											@include border-radius(10rem);
											border: solid $colorGreen;
											border-width: 3px;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(border-width, 2);
											}
										}

										&__max,
										&__min{
											position: absolute;
											color: #d8c7ae;
											font-size: 34px;
											text-align: center;
											top: 65px;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(font-size, 16);
												@include pxToRem(top, 25);
											}
										}

										&__min{
											left: 0;
											@include pxToRem(margin-left, -25);
										}

										&__max{
											right: 0;
											@include pxToRem(margin-right, -25);
										}

										.ui-slider-handle__val{
											position: absolute;
											top:23px;
											left: 0;
											font-size: 34px;
											width: 100%;
											color: #fff;
											text-align: center;
											font-style: normal;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(font-size, 16);
												@include pxToRem(top, 8);
											}
										}

										.handle-start .ui-slider-handle__val{
										}

										.handle-end .ui-slider-handle__val{
										}

										.ui-slider-range{
											background: $colorGreen;
											height: 46px;
											position: absolute;
											top:0;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(height, 16);
											}
										}

										.ui-slider-handle{
											position: absolute;
											height: 90px;
											width: 140px;
											top: -25px;
											cursor: pointer;
											margin-left: -70px;

											border: solid #fff;
											border-width: 3px;
											background: $colorGreen;
											@include border-radius(10rem);

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(top, -11);
												@include pxToRem(height, 35);
												@include pxToRem(width, 64);
												@include pxToRem(margin-left, -32);
												@include pxToRem(border-width, 2);
											}
										}

									}

									&-path{
										position: relative;
										height: 46px;
										@include pxToRem(margin, 50, 50, 90);

										.is-desktop &{
											//@include breakpoint($bpFP){
											@include pxToRem(height, 16);
											@include pxToRem(margin, 30, 25, 45);
										}

										&__bg{
											background: #fff;
											position: absolute;
											@include pxToRem(top, -2);
											@include pxToRem(bottom, -2);
											@include pxToRem(left, -25);
											@include pxToRem(right, -25);
											@include border-radius(10rem);
											border: solid $colorGreen;
											border-width: 3px;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(border-width, 2);
											}
										}

										&__max,
										&__min{
											position: absolute;
											color: #d8c7ae;
											font-size: 34px;
											text-align: center;
											top: 65px;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(font-size, 16);
												@include pxToRem(top, 25);
											}
										}

										&__min{
											left: 0;
											@include pxToRem(margin-left, -25);
										}

										&__max{
											right: 0;
											@include pxToRem(margin-right, -25);
										}


										.noUi-origin {
											position: absolute;
											height: 0;
											width: 0;
										}

										.noUi-connect {
											position: absolute;
											right: 0;
											@include pxToRem(top, -2);
											left: 0;
											@include pxToRem(bottom, -2);
											background: $colorGreen;
										}

										.noUi-handle{
											position: relative;
											z-index: 1;
											-webkit-transform: translate3d(0,0,0);
											transform: translate3d(0,0,0);


											height: 90px;
											width: 140px;
											top: -25px;
											cursor: pointer;
											margin-left: -70px;

											border: solid #fff;
											border-width: 3px;
											background: $colorGreen;
											@include border-radius(10rem);

											color: #fff;
											font-size: 34px;
											text-align: center;
											line-height: 84px;

											.is-desktop &{
												//@include breakpoint($bpFP){
												@include pxToRem(top, -11);
												@include pxToRem(height, 35);
												@include pxToRem(width, 64);
												@include pxToRem(margin-left, -32);
												@include pxToRem(border-width, 2);
												@include pxToRem(font-size, 16);
												@include pxToRem(line-height, 31);
											}

										}
									}
								}

							}


						}

					}
				}

				&_address{
					display: none;
				}


				&_showmap{

					.btn{
						background: $colorGreen;
						color: #fff;
					}

					.is-desktop &{
						//@include breakpoint($bpFP){
						display: none;
					}
				}
			}



			&-step{

				&_3{
					.btn{
						padding: 0;
						width: 90px;
						padding-left: 10px;

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(width, 40);
							@include pxToRem(padding-left, 3);
						}
					}
				}

				&_4{

					.form-field{
						width: 100%;

						.is-desktop &{
							//@include breakpoint($bpFP){
							@include pxToRem(width, 320);
							float: left;
							&:nth-of-type(2n-1){
								@include pxToRem(margin-right, 10);
							}
						}
					}
				}

				&_6{
					.btn{
						@include pxToRem(padding, 0, 17);
					}
				}

				&.disable{
					.btn{

					}
				}


				&_next{
					overflow: hidden;
					@include pxToRem(margin-top, 90);
					@include box-sizing();

					//@include breakpoint(0 $bpFP - 1px){
					.is-mobile &{
						position: fixed;
						bottom: 0;
						left: 0;
						right: 0;
						background: #fff;
						z-index: 1;
						border-top: 1px solid #d8c7ae;
						padding: 20px 30px;
						min-width: $minWidthScreen;
						@include transform(translateZ(0));

						.order-field_submit{
							text-align: right;
						}

						.price-day{
							font-size: 34px;
						}
						.price-all{
							font-size: 48px;
						}

						.btn{
							font-size: 34px;
							width: auto;
							height: 90px;
							line-height: 90px;
							padding: 0 60px;
						}

						.footnote{
							font-size: 24px;
						}


						.ios &{
							position: static;
							min-width: 0;
							padding-top: 30px;
							margin: 30px -30px 0;
						}
					}

					.btn{
						.is-desktop &{
							@include pxToRem(line-height, 40);
						}
					}
				}
			}
		}






	}
}

