/* CSS Reset section */

html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-size: 100.01%;
	//min-width: $minWidthScreen;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	@include pxToRem(font-size,16);
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	background-position: 50% 0;
	color: #fff;
	min-width: $minWidthScreen;
	//	-webkit-transform:translate3d(0,0,0);
	//.fp-enabled &{opacity: 1;}
	&.loaded{opacity: 1;}

	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;

	//@include breakpoint($bpM){min-width: $bpM;}
	//@include breakpoint($bpT){min-width: $bpT;}
	//@include breakpoint($bpC){min-width: $bpC;}
	//@include breakpoint($bpD){min-width: $bpD;}
	//@include breakpoint($bpFP){min-width: $bpFP;}
}

*{
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
}

*:focus {
	outline: 0 none;
}

a, a img, textarea, input {
	outline: 0 none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

dl, dt, dd {
	margin :0;
}

textarea {
	overflow: auto;
}

/* mixins */

%clearfix,
.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
